Source: nipap-www
Section: web
Priority: optional
Maintainer: Lukas Garberg <lukas@spritelink.net>
Build-Depends: debhelper-compat (= 13),
               python3-all,
               python3-setuptools,
               dh-python
Standards-Version: 4.6.1

Package: nipap-www
Architecture: all
Pre-Depends: debconf
Depends: ${misc:Depends}, ${python3:Depends}
XB-Python-Version: ${python:Versions}
Description: web frontend for NIPAP
 A web UI for the NIPAP IP address planning service.
