---
---
{% include header.html %}
<!DOCTYPE html>

	<section id="about">
		<div class="jumbotron" style="background: url(assets/images/jumbotron_background_tile.png); color: #FFFFFF;">
			<div class="container">
				<h1 style="font-family: 'Copse', serif; font-weight: normal; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased;">nipap</h1>
				<p>A sleek, intuitive and powerful IP address management system built to handle large amounts of IP addresses.</p>
				<p><a class="btn btn-warning" href="#getting">Get it &raquo;</a></p>
			</div>
		</div>

		<div class="container">
			<h1 class="page-header">Somewhat useful features</h1>
			<div class="row">

				<div class="col-md-4" style="background: url(assets/images/icons/black-website-optimization-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>Great UX</h2>
					<p>Enjoy a pleasant and intuitive web interface user experience.</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-literature-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>Documentation</h2>
					<p>Fairly good documentation, for users and developers alike.</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-novel-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>IPAM Love</h2>
					<p>This thing was built by network engineers for network engineers because nothing else out there matched our passiong for storing IP addresses. Lots of love built-in - guaranteed.</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-console-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>CLI</h2>
					<p>Comes with a feature complete CLI for anyone who prefers libreadline to a web browser.</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-electricity-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>Lightning fast</h2>
					<p>Never again wade through long list of IP addresses for finding the next available one. NIPAP's automagic address allocation functionality quickly gives you the next free address.</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-python-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>Python</h2>
					<p>Written in the world's most awesomest programming language. There's also a very convenient pynipap library for interfacing with NIPAP from Python.</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-search-3-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>Powerful search</h2>
					<p>Really great search engine built-in that does what you want. NIPAP understand IP prefixes and has search operators to match on more specific prefixes, covering prefixes and so on. Regular expressions are supported for everything else!</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-database-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>PostgreSQL</h2>
					<p>NIPAP uses the most advanced open source database on the planet to safely store your data. PostgreSQL offers native storage of IP addresses and super-fast ternary lookups using the ip4r module.</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-woman-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>Equality</h2>
					<p>NIPAP treats all users, men and women, alike!</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/java_black.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>Java</h2>
					<p>Java client library for that true enterprise feeling.</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-line-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>Statistics</h2>
					<p>Integrated statistics helping you lie about your usage to your RIR!</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-ip-adress-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>IPv6</h2>
					<p>Do we even need to mention that IPv6 is supported? Naturally full feature parity with IPv4!</p>
				</div>

				<div class="col-md-4" style="background: url(assets/images/icons/black-github-10-32.png) 0 20px no-repeat; padding-left: 50px;">
					<h2>Open Source</h2>
					<p>NIPAP is open source under the MIT license. Fork us on GitHub!</p>
				</div>

			</div>
		</div>
	</section>

	<section id="check-it-out">
		<div class="container">
			<h1 class="page-header">Check it out</h1>
			<p>Check out the <a href="http://nipap-demo.spritelink.net">demo installation</a>, read some <a href="#reviews">reviews</a> or look at these pretty screenshots.</p>
			<div id="carousel-screenshots" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-screenshots" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-screenshots" data-slide-to="1"></li>
					<li data-target="#carousel-screenshots" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="assets/images/screenshots/search.png" alt="...">
						<div class="carousel-caption">
							<h3 class="carousel-text">Powerful search</h3>
							<p class="carousel-text">Featuring regular expressions and complex match operators</p>
						</div>
					</div>
					<div class="item">
						<img src="assets/images/screenshots/vrf-list.png" alt="...">
						<div class="carousel-caption">
							<h3 class="carousel-text">Native VRF support</h3>
							<p class="carousel-text">NIPAP is designed from the ground up for VRFs.</p>
						</div>
					</div>
					<div class="item">
						<img src="assets/images/screenshots/new-prefix-from-pool.png" alt="...">
						<div class="carousel-caption">
							<h3 class="carousel-text">Adding prefixes</h3>
							<p class="carousel-text">Prefixes can be conveniently added from address pools.</p>
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-screenshots" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-screenshots" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>

		</div>
	</section>

	<section id="getting">
		<div class="container">
			<h1 class="page-header">Getting it</h1>
			Read the <a href="docs/INSTALL.html">installation guide</a> for getting nipap up and running.
		</div>
	</section>

	<section id="reviews">
		<div class="container">
			<h1 class="page-header">Reviews</h1>
			<div class="row">
				<div class="col-md-6">
					<blockquote><p>NIPAP is the most powerful open-source solution in today's IPAM landscape. NIPAP is a rare and beautiful creature in that it has full feature parity between all its northbound components across all address-families, even in VRF context! The team's modern approach to software development and their focus on long-term manageability, give me the confidence to recommend NIPAP to everyone.</p><footer>Job Snijders, Network Architect</footer></blockquote>
				</div>
				<div class="col-md-6">
					<blockquote><p>We love NIPAP! We went from using a shared Google spreadsheet with very little standardization to an easy to use Web and CLI. Best of all the data is now in a uniform pattern and we can access it via a sane API. NIPAP FTW!</p><footer>Augie Schwer of Safari Books Online</footer></blockquote>
				</div>
				<div class="col-md-12">
					<blockquote><p><kbd>&lt;+ytti&gt; Axu, imma let the dude finish but http://spritelink.github.io/NIPAP/ is best IPAM of all time</kbd></p><footer>ytti, network pro</footer></blockquote>
				</div>
				<div class="col-md-12">
					<blockquote><p>DANTE operator of GEANT the pan European research and education network has been using NIPAP for some time now. DANTE selected NIPAP for its ability to provision subnets following predefined template for its ease of use and flexibility.  
						
						NIPAP allows DANTE's teams to work from a single tool from the definition of the addressing template to its reservation and allocation ensuring a clean and well maintained address space. This cohesive approach is all the more critical when running both IPv4 and IPv6 natively which NIPAP help to maintain. It was all also critical for DANTE to select a tool able to work with Virtual routing instances (VRF).
						NIPAP is a very simple tool, very easy to put in place it allowed DANTE to maintain a well-organized address space very cheaply and very quickly. 
						
						We would like to see the introduction of few features like the abilities to delegated part of the address space and the ability to create user groups with different responsibility of the address space. NIPAP is a "no muss, no fuss" tool very easy to deploy and DANTE will follow future development of the tool with great interest.<footer>Sebastiano Buscaglione, DANTE</footer></blockquote>
				</div>
			</div>
		</div>
	</section>

	<section id="documentation">
		<div class="container">
			<h1 class="page-header">Documentation</h1>
			<div>
				<p>See the <a href="docs/INSTALL.html">installation guide</a> for instructions on the setup process.</p>
				<p>There is no good user documentation at this point. While we are working on Gitbook for user documentation, our hope is that most parts of NIPAP are reasonably self-explanatory and intuitive so that the majority of users will get by until there is some more proper documentation written.</p>
				<p>Developers are encouraged to read the <a href="http://nipap.readthedocs.org/">developer reference documentation</a>.</p>
			</div>
		</div>
	</section>

	<section id="contact">
		<div class="container">
			<h1 class="page-header">Problem?</h1>
			<img src="assets/images/science-troll.jpg" alt="Kind Science Troll will help you out!" style="float: left; height: 100px;">
			<p>Got a problem? We'd love to hear your feedback.</p>
			<p>If you've found a bug or would like to make a feature request, we would appreciate if you could open up an <a href="https://github.com/SpriteLink/NIPAP/issues">issue on GitHub</a>. If you don't have a GitHub account and don't care much for getting one, you may use the seamlessly integrated Google Forms below. We also appreciate feedback on the choice of theme for the Google Form.</p>
			<p>There is also an IRC channel on freenode called #NIPAP. Join if you want to chat!</p>
			<div style="text-align: center;">
				<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDRNZzVmOEd4ZGt5cWF5eGFqTzZBdVE6MQ" width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</div>
		</div>
	</section>

{% include footer.html %}
