<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ c.page_title }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/nap.css">
        <script src="/jquery-1.6.1.min.js"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="top_menu">
            <div class="menu_entry">
				<h1 id="schema_title">Schema: 
                {% if c['schema'] is defined %}
                    {{ c.schema.name }}
                {% else %}
                    None
                {% endif %}
                </h1>
			</div>
			<div class="menu_entry">
            {% if c['schema'] is defined %}
				<a href="{{ h.url(controller='prefix', action='change_schema', schema=c.schema.id) }}">change</a> | 
                <a href="{{ h.url(controller='schema', action='list', schema=c.schema.id) }}">edit schemas</a> |
                <a href="{{ h.url(controller='prefix', action='list', schema=c.schema.id) }}">prefix list</a> |
                <a href="{{ h.url(controller='prefix', action='add', schema=c.schema.id) }}">add prefix</a>
            {% else %}
				<a href="{{ h.url(controller='prefix', action='change_schema') }}">change</a> | 
                <a href="{{ h.url(controller='schema', action='list') }}">edit schemas</a>
            {% endif %}
			</div>
		</div>
        <div class="content">
		{% block content %}
		{% endblock %}
        </div>
	</body>
</html>
