{% extends "base.html" %}

{% block head %}

<script>

	var schema = {{ c.schema.id }};
//	var search_opt_parent = '{{ c.search_opt_parent }}';
//	var search_opt_child = '{{ c.search_opt_child }}';
	var prefix_list = Array();
	var indent_head = Array();
		

	function showPrefix(prefix, parent_container) {

		// add main prefix container
		parent_container.append('<div id="prefix_entry' + prefix.id + '">');
		var prefix_entry = $('#prefix_entry' + prefix.id);
		prefix_entry.attr('class', 'prefix_entry');
		prefix_entry.hover(
			function() { prefix_entry.addClass("prefix_hover"); },
			function() { prefix_entry.removeClass("prefix_hover"); }
		);

		// add indent and prefix container
		prefix_entry.append('<div id="prefix_ind_pref' + prefix.id + '">');
		var prefix_ind_pref = $('#prefix_ind_pref' + prefix.id);
		prefix_ind_pref.addClass('prefix_ind_pref');

		// add indent
		prefix_ind_pref.append('<div id="prefix_indent' + prefix.id + '">');
		var prefix_indent = $('#prefix_indent' + prefix.id);
		prefix_indent.addClass("prefix_indent");
		prefix_indent.html('<span class="exp_button" id="prefix_exp' + prefix.id + '" onClick="collapse(' + prefix.id + ')">&nbsp;-&nbsp;</span>');
		prefix_indent.width(prefix_indent.width() + 30 * prefix.indent);

		// add prefix
		prefix_ind_pref.append('<div id="prefix_prefix' + prefix.id + '">');
		var prefix_prefix = $('#prefix_prefix' + prefix.id);
		prefix_prefix.addClass("prefix_prefix");
		prefix_prefix.html(prefix.prefix);

		// Add prefix type
		prefix_entry.append('<div id="prefix_type' + prefix.id + '">');
		var prefix_type = $('#prefix_type' + prefix.id);
		prefix_type.addClass("prefix_type");
		prefix_type.html(prefix.type);

		// Add prefix description
		prefix_entry.append('<div id="prefix_description' + prefix.id + '">'); 
		var prefix_description = $('#prefix_description' + prefix.id);
		prefix_description.addClass("prefix_description");
		prefix_description.html(prefix.description);

	}

	/*
	 * Callback function called when prefixes are received.
	 * Plots prefixes and adds them to list.
	 */
	function receivePrefixList(pref_list) {

		console.log("Got fisk");

		/*
		 * Interpretation list
		 */

		var intp_cont = $("#search_interpret_container");
		intp_cont.empty();
		for (key in pref_list.interpretation) {

			var interp = pref_list.interpretation[key];
			intp_cont.append('<div class="search_interpretation" id="intp' + key + '">');
			$('#intp' + key).html('<b>' + interp.string + '</b> interpreted as ' + interp.interpretation);

		}


		/*
		 * Prefix list
		 */

		$('#prefix_list').empty();
		indent_head[0] = $('#prefix_list');

		// add prefixes
		for (key in pref_list.result) {

			var cur_prefix = pref_list.result[key];

			prefix_list[cur_prefix.id] = cur_prefix;

			// add prefixes to list - first a special case for the first prefix
			if (key == 0) {
				showPrefix(cur_prefix, indent_head[0]);
			} else {
				
				// indent increased - create new collapse group
				var prev_prefix = pref_list.result[key - 1];
				if (cur_prefix.indent > prev_prefix.indent) {
					indent_head[prev_prefix.indent].append('<div id="collapse' + prev_prefix.id + '">');
					indent_head[cur_prefix.indent] = $('#collapse' + prev_prefix.id);
				}

				showPrefix(cur_prefix, indent_head[cur_prefix.indent]);

			}
		}

	}

	/*
	 * Perform a search operation
	 */
	function performSearch() {

		var search_q = {
			'query_string': $('#query_string').val(),
			'schema': schema
		}

		$.getJSON("http://127.0.0.1:5000/xhr/smart_search_prefix", search_q, receivePrefixList);

	}

	/*
	 * Collapses a collapse group
	 */
	function collapse(id) {

		var col = $('#collapse' + id);
		var exp = $('#prefix_exp' + id);

		if (col.css('display') == 'none') {
			col.slideDown();
			exp.html('&nbsp;-&nbsp;');
		} else {
			col.slideUp();
			exp.html('&nbsp;+&nbsp;');
		}
		
	}

	function searchKeyDown(e) {

		var query_string = $("#query_string").val();

		if (query_string.length >= 3) {
			performSearch();
		}

	}

	function searchSubmit(e) {

		performSearch();
		e.preventDefault();

	}

	$(function () {

		// fetch prefix list
		$("form").submit(searchSubmit);
		$("#query_string").keydown(searchKeyDown);
		$("#query_string").focus();

		// register events on radio buttons
//		$('input[name="search_opt_parent"]').onChange();
//		$('input[name="search_opt_child"]').onChange();

	});

</script>

{% endblock %}

{% block content %}

<a href="{{ h.url(controller='prefix', action='list', schema=c.schema.id, view='prefix') }}">prefix</a> | 
<a href="{{ h.url(controller='prefix', action='list', schema=c.schema.id, view='pool') }}">pool</a>

<center>
	<form id="prefix_search" method="post">
		<input id="query_string" type="text" size="50" autocomplete="off" autofocus="autofocus">
		<input type="submit" value="Search">
	</form>
</center>
<table>
	<tr>
		<td width="40">&nbsp;</td>
		<td class="opt_left">
			Search interpretation
		</td><td class="opt_right" id="search_interpret_container">
		</td>
	</tr>
	<tr>
		<td width="40">&nbsp;</td>
		<td class="opt_left">
			Display options
		</td><td class="opt_right">
			Include parent:

		{% if c.search_opt_parent == 'none' %}
			<input type="radio" name="search_opt_parent" value="none" selected>none</input>
		{% else %}
			<input type="radio" name="search_opt_parent" value="none">none</input>
		{% endif %}

		{% if c.seaech_opt_parent == 'immediate' %}
			<input type="radio" name="search_opt_parent" value="immediate" selected>immediate</input>
		{% else %}
			<input type="radio" name="search_opt_parent" value="immediate">immediate</input>
		{% endif %}

		{% if c.search_opt_parent == 'all' %}
			<input type="radio" name="search_opt_parent" value="all" selected>to root</input>
		{% else %}
			<input type="radio" name="search_opt_parent" value="all">to root</input>
		{% endif %}

			<br>Include children:

		{% if c.search_opt_child == 'none' %}
			<input type="radio" name="search_opt_child" value="none" selected>none
		{% else %}
			<input type="radio" name="search_opt_child" value="none">none
		{% endif %}

		{% if c.search_opt_child == 'immediate' %}
			<input type="radio" name="search_opt_child" value="immediate" selected>immediate
		{% else %}
			<input type="radio" name="search_opt_child" value="immediate">immediate
		{% endif %}

		{% if c.search_opt_child == 'all' %}
			<input type="radio" name="search_opt_child" value="all" selected>all
		{% else %}
			<input type="radio" name="search_opt_child" value="all">all
		{% endif %}
		</td>
	</tr>
</table>
<div id="prefix_list">
</div>

{% endblock %}
