{% extends "base.html" %}
{% set page = 'pools' %}

{% block head %}

    <link rel="stylesheet" href="/jquery-ui-1.8.13.custom.css">
    <script src="/jquery-ui-1.8.13.custom.min.js"></script>

   <script>

    var indent_head = Array();
    prefix_link_type = 'add_too_pool';
    var pool_id = {{ c.pool.id }};

    /*
     * Is run when a prefix is selected in the list.
     */
    function selectPrefix(prefix_id) {

        // set prefix's pool attribute in Nap
        data = new Object();
        data.schema = schema_id;
        data.id = prefix_id;
        data.pool = {{ c.pool.id }};
        $.getJSON('{{ h.url(controller = 'xhr', action = 'edit_prefix') }}', data, prefixAdded);
    
    }


    /*
     * Run when prefix has been added to pool
     */
    function prefixAdded(prefix) {

        // Error?
        if ('error' in prefix) {
            displayNotice("Error", prefix.message);
            return;
        }
        
        // display prefix in list
        $("#pool_prefix_list").append('<tr id="pool_prefix_' + prefix.id + '">');
        $("#pool_prefix_" + prefix.id).append('<td>' + prefix.display_prefix + '</td>');
        $("#pool_prefix_" + prefix.id).append('<td>' + prefix.description + '</td>');
        $("#pool_prefix_" + prefix.id).append('<td><a href="/pool/remove_prefix/{{ c.pool.id }}?schema=' + schema_id + '&prefix='+ prefix.id +'">del</a></td>');

    }


    /*
     * Display step 2 of pool expansion procedure
     */
    function displayStep2(e) {

        // allocate new prefix
        if (e.currentTarget.id == 'radio-create-new') {
            $('#exp-prefix-alloc-method_container').show();
            $('#exp-select-existing_container').hide();
            $("html,body").animate({scrollTop: $("#exp-prefix-alloc-method_container").offset().top - 50}, 700);

        // select already existing prefix
        } else {
            $('#exp-prefix-alloc-method_container').hide();
            $('#exp-select-existing_container').show();
            $("html,body").animate({scrollTop: $("#exp-select-existing_container").offset().top - 50}, 700);
        }

    }


    /*
     * Things to do when page loads
     */
    $(function () {

        /*
         * register events
         */
        // Prefix search
        $("form[name='prefix_search']").submit(function(e) {
            performPrefixSearch();
            e.preventDefault();
        });
        $('input[name="search_opt_parent"]').change(performPrefixSearch);
        $('input[name="search_opt_child"]').change(performPrefixSearch);
        $("#query_string").keyup(performPrefixSearch);

        // Expand pool button
        $("#exp_pool_btn").click(function() {
            $("#exp-method_container").show(); 
            $("html,body").animate({scrollTop: $("#exp-method_container").offset().top - 50}, 700); return false;
        });

        // Radio buttons regarding expansion method
        $('input[name="pool_exp_method_1"]').change(displayStep2);

        $('input[name="prefix_alloc_method"]').change(showAllocContainer);

        /*
         * Other stuff
         */
        // TODO: add highlight when hovering prefix in list
        // TODO: Fix error when prefix is selected multiple times

    });
    </script> 

{% endblock %}
{% block content %}

<div class="page-title">
Pool administration &mdash;&gt; edit pool
</div>

{% include 'pool_form.html' %}

<div class="options-group">
    <div class="options-content" style="position: relative;">
        <h3 class="options-group-heading">Prefixes in pool</h3>
        <div style="position: absolute; right: 20px; top: 48px; width: 100px;">
            {{ nap.button('Expand pool', color='red', url='', id='exp_pool_btn') }}
        </div>
        <table id="pool_prefix_list" style=" margin-top: 40px; border-spacing: 0px; width: 100%;">
            <thead class="listing">
                <tr>
                    <th>Prefix</th><th>Description</th><th>&nbsp;</th>
                    </tr>
            </thead>
            <tbody class="listing">
                {% for prefix in c.prefix_list %}
                <tr>
                    <td>{{ prefix.display_prefix }}</td>
                    <td>{{ prefix.description }}</td>
                    <td>
                        <a href="{{ h.url(controller = 'pool', action = 'remove_prefix', id = c.pool.id, prefix = prefix.id, schema = c.schema.id) }}">del</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--

    POOL EXPANSION METHOD

-->

<div class="options-group" style="display: none;" id="exp-method_container">
    <div class="options-content">
        <h3 class="options-group-heading">Pool expansion method</h3>
        <table>
            <tr>
                <td width="120" valign="top">
                    <input id="radio-create-new" type="radio" name="pool_exp_method_1" value="create-new">
                    <label for="radio-create-new">Allocate new</label>
                </td>
                <td>Allocate a new prefix.</td>
            </tr>
            <tr>
                <td valign="top">
                    <input id="radio-use-existing" type="radio" name="pool_exp_method_1" value="use-existing">
                    <label for="radio-use-existing">Add existing</label>
                </td>
                <td>Add an already existing prefix to the pool.</td>
            </tr>
        </table>

    </div>
</div>

<!--

    SEARCH & ADD PREFIX TO POOL

-->
<div class="options-group" style="display: none;" id="exp-select-existing_container">
    <div class="options-content">
        <h3 class="options-group-heading">Select prefix</h3>
        {{ nap.prefix_search_form() }}
        {{ nap.prefix_search_result() }}
    </div>
</div>

<!--

    PREFIX ALLOCATION METHOD

-->
<div class="options-group" id="exp-prefix-alloc-method_container" style="display: none;">
    <div class="options-content">
        <h3 class="options-group-heading">Prefix allocation method</h3>
        <table>
            <tr>
                <td width="120" valign="top">
                    <input id="radio-from-pool" type="radio" name="prefix_alloc_method" value="from-pool">
                    <label for="radio-from-pool">From pool</label>
                </td>
                <td>Get a prefix from a pre-defined prefix pool.</td>
            </tr>
            <tr>
                <td valign="top">
                    <input id="radio-from-prefix" type="radio" name="prefix_alloc_method" value="from-prefix">
                    <label for="radio-from-prefix">From prefix</label>
                </td>
                <td>Get a prefix allocated from another prefix.</td>
            </tr>
            <tr>
                <td valign="top">
                    <input id="radio-manual" type="radio" name="prefix_alloc_method" value="manual">
                    <label for="radio-manual">Manual</label>
                </td>
                <td>Specify all data manually</td>
            </tr>
        </table>
    </div>
</div>

<!--

    FROM-POOL

-->
<div style="display: none;" id="from-pool_container">
    <div class="options-group">
        <div class="options-content">
            <h3 class="options-group-heading">Pool allocation options</h3>
            <table>
                <tr>
                    <td>Family</td>
                    <td>
                        <label for="family_4_radio">IPv4</label><input type="radio" name="family" value="4" id="family_4_radio" checked>
                        <label for="family_6_radio">IPv6</label><input type="radio" name="family" value="6" id="family_6_radio">
                    </td>
                </tr>
                <tr>
                    <td><label for="from-pool">Pool</label></td>
                    <td><input id="from-pool" type="text" name="from-pool"></td>
                </tr>
                <tr style="display: none;" id="length_info_row">
                    <td style="padding-right: 20px;">Prefix-length</td>
                    <td>
                        <span id="def_length_container"></span>
                    </td>
                </tr>
                <tr style="display: none;" id="length_edit_row">
                    <td>&nbsp;</td>
                    <td>
                        <label for="edit_length_default_radio">Use default</label>
                        <input type="radio" name="edit_length" value="0" id="edit_length_default_radio" checked>
                        <label for="edit_length_override_radio">Override</label>
                        <input type="radio" name="edit_length" value="1" id="edit_length_override_radio">
                    </td>
                </tr>
                <tr style="display: none;" id="length_row">
                    <td>&nbsp;</td>
                    <td>
                        <input type="text" name="prefix_length_pool">
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--

    FROM-PREFIX

-->
<div style="display: none;" id="from-prefix_container">
    <div class="options-group">
        <div class="options-content">
            <h3 class="options-group-heading">Prefix allocation options</h3>
            {{ nap.prefix_search_form(c.search_opt_parent, c.search_opt_child) }}
            {{ nap.prefix_search_result() }}
        </div>

        <div id="prefix_length_prefix_container" style="display: none;">
            <div id="prefix_length_prefix_bg" class="options-content">
                <table>
                    <tr>
                        <td>Allocating from</td>
                        <td><span id="alloc_from_prefix"></span></td>
                    </tr>
                    <tr id="length_info_row">
                        <td style="padding-right: 20px;">Prefix-length</td>
                        <td>
                            <input type="text" name="prefix_length_prefix">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!--

    PREFIX DATA

-->
<div id="prefix_data_container" style="display: none;">
    <div class="options-group">
        <div class="options-content">
            <h3 class="options-group-heading">Prefix options</h3>
            <form method="post" id="prefix_data_form" action="{{ h.url(controller="prefix", action="add", schema=c.schema.id) }}">
            <table>
                <tr id="prefix_row">
                    <td>Prefix</td>
                    <td><input type="text" name="prefix" value="{{ c.prefix }}"></td>
                    <td class="help-text">192.0.2.16/28</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>
                        <input id="radio-prefix-type-reservation" type="radio" name="type" value="reservation"/>
                        <label for="radio-prefix-type-reservation">Reservation</label>
                        <input id="radio-prefix-type-assignment" type="radio" name="type" value="assignment"/>
                        <label for="radio-prefix-type-assignment">Assignment</label>
                        <input id="radio-prefix-type-host" type="radio" name="type" value="host"/>
                        <label for="radio-prefix-type-host">Host</label>
                    </td>
                    <!-- TODO: write better explanation, and put it as tooltips on radio button labels -->
                    <td class="help-text">Type of prefix.</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input type="text" name="description"></td>

                <tr>
                    <td>Node</td>
                    <td><input type="text" name="node"></td>
                    <td class="help-text">FQDN (Fully Qualified Domain Name) of the node where the prefix is in use, e.g. 'amsterdam-router-1.example.com'</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td><input type="text" name="country"></td>
                    <td class="help-text">Two-letter country code according to <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements">ISO-3166-1</a></td>
                </tr>
                <tr>
                    <td>SPAN order</td>
                    <td><input type="text" name="span_order"></td>
                    <td class="help-text"></td>
                </tr>
                <tr>
                    <td>Alarm priority</td>
                    <td>
                        <select name="alarm_priority">
                            <option value="low">low
                            <option value="medium">medium
                            <option value="high">high
                        </select>
                    </td>
                    <td class="help-text"></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td colspan="2"><textarea rows="10" cols="72" name="comment"></textarea></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input class="button button_green" type="submit" value="Add"></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}
