{% extends "base.html" %}
{% set page = 'pools' %}

{% block head %}
    <link rel="stylesheet" href="/datatable.css">
    <script src="/jquery.dataTables.js"></script>
    <script>
        $(function () {
            $(".pool_row").hover(
                function() { $(this).addClass("row_hover"); },
                function() { $(this).removeClass("row_hover"); }
            );

            $('#pool_table').dataTable({
                'bServerSide': true,
                'sAjaxSource': '{{ h.url(controller='xhr', action='smart_search_pool_mod', id=c.schema.id) }}',
                'bPaginate': false,
                'bSortClasses': false,
                'aoColumns': [
                    null, // name
                    // id
                    {
                        'bVisible': false,
                        'bSearchable': false,
                        'bSortable': false
                    },
                    null, // description,
                    null, // default type
                    null, // default prefix length
                    // links
                    {
                        'bSearchable': false,
                        'bSortable': false,
                        'fnRender': function(oObj) {
                            return '<a href="/pool/edit/' + oObj.aData[1] + '?schema=' + schema_id + '">edit</a>';
                        }
                    }
                ]
            });
            
        });
    </script>
{% endblock %}


{% block content %}

	<div style="text-align: center; padding: 20px;">
		<div style="display: inline-block; text-align: left; width: 70%;">
			Pools is simply a time-saver for getting new prefixes. One or more larger prefixes are grouped together in a pool and when you want a new prefix, you can request one and the system will automatically allocate the first available one in that pool, for you.<br/><br/>
			Every pool can have a default type and default prefix-length which are used as the default for new prefixes that you request. You can naturally override the defaults on a per request basis.<br/><br/> 
			This page is used to administrate pools. If you want to get a new prefix, please go to the "prefixes" page and click "Add prefix".
		</div>
	</div>

	<div style="position: absolute; right: 20px; top: 14px;">
		{{ nap.button('Add pool', color='red', url=h.url(controller = 'pool', action = 'add', schema = c.schema.id)) }}
	</div>

	<table id="pool_table" style="border-spacing: 0px; width: 100%;" border=0>
		<thead class="listing">
			<tr>
				<th style="padding-left: 30px;">Name</th><th>ID</th><th>Description</th><th>Default type</th><th>4 / 6</th><th></th>
			</tr>
		</thead>
		<tbody class="listing">
			{% for pool in c.pools %}
			<tr class="pool_row">
				<td style="padding-left: 30px;">{{ pool.name }}</td>
				<td>{{ pool.description or '' }}</td>
				<td>{{ pool.default_type }}</td>
				<td>{{ pool.ipv4_default_prefix_length or '-' }} / {{ pool.ipv6_default_prefix_length or '-' }}</td>
				<td>
					<a href="{{ h.url(controller = 'pool', action = 'edit', id = pool.id, schema = c.schema.id) }}">edit</a> | 
					<a href="{{ h.url(controller = 'pool', action = 'remove', id = pool.id, schema = c.schema.id) }}" onclick="showDialogYesNo('Remove {{ pool.name  }}?', 'Are you sure you want to remove {{ pool.name }}? You cannot undo this.', function () { window.location.href = '{{ h.url(controller="pool", action="remove", id=pool.id, schema = c.schema.id) }}'; }); return false;">del</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
