{% extends "base.html" %}
{% set page = 'pools' %}

{% block head %}

    <link rel="stylesheet" href="/jquery-ui-1.8.13.custom.css">
    <script src="/jquery-ui-1.8.13.custom.min.js"></script>

   <script>

    var indent_head = Array();
    prefix_link_type = 'add_too_pool';
    var pool_id = {{ c.pool.id }};
    var cur_opts = new Object();

    /*
     * Is run when a prefix is selected in the list.
     */
    function addToPool(prefix_id) {

        // set prefix's pool attribute in Nap
        data = new Object();
        data.schema = schema_id;
        data.id = prefix_id;
        data.pool = {{ c.pool.id }};
        $.getJSON('{{ h.url(controller = 'xhr', action = 'edit_prefix') }}', data, prefixAdded);
    
    }


    /*
     * Run when prefix has been added to pool
     */
    function prefixAdded(prefix) {

        // Error?
        if ('error' in prefix) {
            displayNotice("Error", prefix.message);
            return;
        }
        
        // display prefix in list
        $("#pool_prefix_list").append('<tr id="pool_prefix_' + prefix.id + '">');
        $("#pool_prefix_" + prefix.id).append('<td>' + prefix.display_prefix + '</td>');
        $("#pool_prefix_" + prefix.id).append('<td>' + prefix.description + '</td>');
        $("#pool_prefix_" + prefix.id).append('<td><a href="/pool/remove_prefix/{{ c.pool.id }}?schema=' + schema_id + '&prefix='+ prefix.id +'">del</a></td>');

    }


    /*
     * Display step 2 of pool expansion procedure
     */
    function displayStep2(e) {

        // allocate new prefix
        if (e.currentTarget.id == 'radio-create-new') {

            // fetch data for pool search box
            $.getJSON('{{ h.url(controller="xhr", action="list_pool") }}', {'schema_id': schema_id }, enableFromPoolSearch);

            prefix_link_type = 'select';
            $('#prefix_list').empty();
            $('#query_string').val('');

            $('#prefix-alloc-method_container').show();
            $('#from-prefix_container').hide();

            $("html,body").animate({scrollTop: $("#prefix-alloc-method_container").offset().top - 50}, 700);

        // select already existing prefix
        } else {

            prefix_link_type = 'add_to_pool';
            $('#prefix_list').empty();
            $('#query_string').val('');

            $('#prefix-alloc-method_container').hide();
            $("#from-prefix_container").show();
            $("#from-pool_container").hide();
            $("#prefix_data_container").hide();
            $("#prefix_row").hide();
            $('#prefix_length_prefix_container').hide();

            $("html,body").animate({scrollTop: $("#from-prefix_container").offset().top - 50}, 700);
        }

    }




    /*
     * Things to do when page loads
     */
    $(function () {

        /*
         * register events
         */
        // Prefix search, select
        $("form[name='prefix_search_select']").submit(function(e) {
            prefix_link_type = 'add_to_pool';
            performPrefixSearch();
            e.preventDefault();
        });
        $('input[name="search_opt_parent_select"]').change(function() { prefix_link_type = 'add_to_pool'; performPrefixSearch(); });
        $('input[name="search_opt_child_select"]').change(function() { prefix_link_type = 'add_to_pool'; performPrefixSearch(); });
        $("#query_string_select").keyup(function() { prefix_link_type = 'add_to_pool'; performPrefixSearch(); });

        // prefix search, allocate
        $("form[name='prefix_search']").submit(function(e) {
            performPrefixSearch('select');
            e.preventDefault();
        });
        $('input[name="search_opt_parent"]').change(function() { prefix_link_type = 'select'; performPrefixSearch(); });
        $('input[name="search_opt_child"]').change(function() { prefix_link_type = 'select'; performPrefixSearch(); });
        $("#query_string").keyup(function() { prefix_link_type = 'select'; performPrefixSearch(); });

        // Expand pool button
        $("#exp_pool_btn").click(function() {
            $("#exp-method_container").show(); 
            $("html,body").animate({scrollTop: $("#exp-method_container").offset().top - 50}, 700); return false;
        });

        // Radio buttons regarding expansion method
        $('input[name="pool_exp_method_1"]').change(displayStep2);

        $('input[name="prefix_alloc_method"]').change(showAllocContainer);
        $('input[name="edit_length"]').change(toggleLengthEdit);

        // catch submit actions
        $('#prefix_data_form').submit(prefixFormSubmit);

        $("form[name='prefix_search']").submit(function(e) {
            performPrefixSearch();
            e.preventDefault();
        });

        /*
         * Other stuff
         */
        // TODO: add highlight when hovering prefix in list
        // TODO: Fix error when prefix is selected multiple times

    });
    </script> 

{% endblock %}
{% block content %}

<div class="page-title">
Pool administration &mdash;&gt; edit pool
</div>

{% include 'pool_form.html' %}

<div class="options-group">
    <div class="options-content" style="position: relative;">
        <h3 class="options-group-heading">Prefixes in pool</h3>
        <div style="position: absolute; right: 20px; top: 48px; width: 100px;">
            {{ nap.button('Expand pool', color='red', url='', id='exp_pool_btn') }}
        </div>
        <table id="pool_prefix_list" style=" margin-top: 40px; border-spacing: 0px; width: 100%;">
            <thead class="listing">
                <tr>
                    <th>Prefix</th><th>Description</th><th>&nbsp;</th>
                    </tr>
            </thead>
            <tbody class="listing">
                {% for prefix in c.prefix_list %}
                <tr>
                    <td>{{ prefix.display_prefix }}</td>
                    <td>{{ prefix.description }}</td>
                    <td>
                        <a href="{{ h.url(controller = 'pool', action = 'remove_prefix', id = c.pool.id, prefix = prefix.id, schema = c.schema.id) }}">del</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--

    POOL EXPANSION METHOD

-->

<div class="options-group" style="display: none;" id="exp-method_container">
    <div class="options-content">
        <h3 class="options-group-heading">Pool expansion method</h3>
        <div class="option">
            <dl>
                <dt style="text-align: left;">
                    <input id="radio-create-new" type="radio" name="pool_exp_method_1" value="create-new">
                    <label for="radio-create-new">Allocate new</label>
                </dt>
                <dd>
                    Allocate a new prefix.
                </dd>
            </dl>
        </div>

        <div class="rule"></div>

        <div class="option">
            <dl>
                <dt style="text-align: left;">
                    <input id="radio-use-existing" type="radio" name="pool_exp_method_1" value="use-existing">
                    <label for="radio-use-existing">Add existing</label>
                </dt>
                <dd>
                    Add an already existing prefix to the pool.
                </dd>
            </dl>
        </div>

    </div>
</div>

{% include 'prefix_add_containers.html' %}

{% endblock %}
