{% extends "base.html" %}
{% set page = 'pools' %}

{% block head %}

   <script>

    var indent_head = Array();

    function showPrefix(prefix, parent_container) {

        // add main prefix container
        parent_container.append('<div id="prefix_entry' + prefix.id + '">');
        var prefix_entry = $('#prefix_entry' + prefix.id);
        prefix_entry.attr('class', 'prefix_entry');
        prefix_entry.hover(
            function() { prefix_entry.addClass("row_hover"); },
            function() { prefix_entry.removeClass("row_hover"); }
        );

        // add indent and prefix container
        prefix_entry.append('<div id="prefix_ind_pref' + prefix.id + '">');
        var prefix_ind_pref = $('#prefix_ind_pref' + prefix.id);
        prefix_ind_pref.addClass('prefix_ind_pref');

        // add indent
        prefix_ind_pref.append('<div id="prefix_indent' + prefix.id + '">');
        var prefix_indent = $('#prefix_indent' + prefix.id);
        prefix_indent.addClass("prefix_indent");
        prefix_indent.html('<span class="exp_button" id="prefix_exp' + prefix.id + '" onClick="collapse(' + prefix.id + ')">&nbsp;-&nbsp;</span>');
        prefix_indent.width(prefix_indent.width() + 30 * prefix.indent);

        // add prefix
        prefix_ind_pref.append('<div id="prefix_prefix' + prefix.id + '">');
        var prefix_prefix = $('#prefix_prefix' + prefix.id);
        prefix_prefix.addClass("prefix_prefix");
        prefix_prefix.html('<a href="#" onClick="selectPrefix(' + prefix.id + ')">' + prefix.display_prefix + '</a>');

        // Add prefix type
        prefix_entry.append('<div id="prefix_type' + prefix.id + '">');
        var prefix_type = $('#prefix_type' + prefix.id);
        prefix_type.addClass("prefix_type");
        prefix_type.html(prefix.type);

        // Add prefix description
        prefix_entry.append('<div id="prefix_description' + prefix.id + '">'); 
        var prefix_description = $('#prefix_description' + prefix.id);
        prefix_description.addClass("prefix_description");
        prefix_description.html(prefix.description);

    }


    /*
     * Is run when a prefix is selected in the list.
     */
    function selectPrefix(prefix_id) {

        // set prefix's pool attribute in Nap
        data = new Object();
        data.schema = schema_id;
        data.id = prefix_id;
        data.pool = {{ c.pool.id }};
        $.getJSON('{{ h.url(controller = 'xhr', action = 'edit_prefix') }}', data, prefixAdded);
    
    }

    /*
     * Run when prefix has been added to pool
     */
    function prefixAdded(prefix) {

        // Error?
        if ('error' in pref_list) {
            displayNotice("Error", pref_list.message);
            return;
        }
        
        // display prefix in list
        $("#pool_prefix_list").append('<tr id="pool_prefix_' + prefix.id + '">');
        $("#pool_prefix_" + prefix.id).append('<td>' + prefix.display_prefix + '</td>');
        $("#pool_prefix_" + prefix.id).append('<td>' + prefix.description + '</td>');
        $("#pool_prefix_" + prefix.id).append('<td><a href="/pool/remove_prefix/{{ c.pool.id }}?schema=' + schema_id + '&prefix='+ prefix.id +'">del</a></td>');

    }

    /*
     * Callback function called when prefixes are received.
     * Plots prefixes and adds them to list.
     */
    function receivePrefixList(pref_list) {

        /*
         * Interpretation list
         */

        var intp_cont = $("#search_interpret_container");
        intp_cont.empty();
        for (key in pref_list.interpretation) {

            var interp = pref_list.interpretation[key];
            intp_cont.append('<div class="search_interpretation" id="intp' + key + '">');
            $('#intp' + key).html('<b>' + interp.string + '</b> interpreted as ' + interp.interpretation);

        }

        /*
         * Prefix list
         */

        $('#prefix_list').empty();
        indent_head[0] = $('#prefix_list');

        // add prefixes
        for (key in pref_list.result) {

            var cur_prefix = pref_list.result[key];

            // add prefixes to list - first a special case for the first prefix
            if (key == 0) {
                showPrefix(cur_prefix, indent_head[0]);
            } else {
                
                // indent increased - create new collapse group
                var prev_prefix = pref_list.result[key - 1];
                if (cur_prefix.indent > prev_prefix.indent) {
                    indent_head[prev_prefix.indent].append('<div id="collapse' + prev_prefix.id + '">');
                    indent_head[cur_prefix.indent] = $('#collapse' + prev_prefix.id);
                }

                showPrefix(cur_prefix, indent_head[cur_prefix.indent]);

            }
        }

    }

    /*
     * Perform a search operation
     */
    function performSearch() {

        console.log("Searching..");

        var search_q = {
            'query_string': $('#query_string').val(),
            'schema': schema_id,
            'search_opt_parent': $('input[name="search_opt_parent"]:checked').val(),
            'search_opt_child': $('input[name="search_opt_child"]:checked').val()
        }

        $.getJSON("{{ h.url(controller='xhr', action='smart_search_prefix') }}", search_q, receivePrefixList);

    }

    $(function () {

        // register events
        $("form[name='prefix_search']").submit(function(e) {
            performSearch();
            e.preventDefault();
        });
        $("#show_prefix_select_btn").click(function() {$("#prefix_select_container").show(); return false;});
        $("#close_prefix_select_btn").click(function() {$("#prefix_select_container").hide(); return false;});
        $("#query_string").keyup(performSearch);

    });
    </script> 

{% endblock %}
{% block content %}

<div class="page-title">
Pool administration &mdash;&gt; edit pool
</div>

{% include 'pool_form.html' %}

<div class="options-group">
    <div class="options-content">
        <h3 class="options-group-heading">Prefixes in pool</h3>
        <table id="pool_prefix_list" style="border-spacing: 0px; width: 100%;">
            <thead class="listing">
                <tr>
                    <td colspan="3" align="right"><a href="javascript:void(0);" id="show_prefix_select_btn">add</a></td>
                </tr>
                <tr>
                    <th>Prefix</th><th>Description</th><th>&nbsp;</th>
                    </tr>
            </thead>
            <tbody class="listing">
                {% for prefix in c.prefix_list %}
                <tr>
                    <td>{{ prefix.display_prefix }}</td>
                    <td>{{ prefix.description }}</td>
                    <td>
                        <a href="{{ h.url(controller = 'pool', action = 'remove_prefix', id = c.pool.id, prefix = prefix.id, schema = c.schema.id) }}">del</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="prefix_select_container" id="prefix_select_container">
            <div style="position: absolute; top: 0px; right: 0px; padding: 5px;"><a href="javascript:void(0);" id="close_prefix_select_btn">hide</a></div>
            <center>
                <form method="post" name="prefix_search">
                    <input type="text" id="query_string" name="query_string"  size="50" autocomplete="off">
                    <input type="submit" value="Search">
                </form>
            </center>
            <table>
                <tr>
                    <td width="40">&nbsp;</td>
                    <td class="opt_left">
                        Search interpretation
                    </td>
                    <td class="opt_right" id="search_interpret_container"> </td>
                </tr>
            </table>
            <div class="prefix_list" id="prefix_list"></div>
        </div>
    </div>
</div>

{% endblock %}
