{% extends "base.html" %}
{% set page = 'prefixes' %}

{% block content %}

<h2>Edit {{ c.prefix.type }} {{ c.prefix.prefix }}</h2>

<!--

    PREFIX DATA

-->
<div id="prefix_data_container" style="padding: 15px;">
<form method="post" id="prefix_data_form" action="{{ h.url(controller="prefix", action="edit", id=c.prefix.id, schema=c.schema.id) }}">
<table>
    <tr>
        <td>Prefix</td>
        <td><input type="text" name="prefix" value="{{ c.prefix.prefix }}"></td>
        <td class="help-text">192.0.2.16/28</td>
    </tr>
    <tr>
        <td>Description</td>
        <td><input type="text" name="description" value="{{ c.prefix.description|default("", True) }}"></td>
        <td class="help-text">A short text describing the prefix.</td>
    </tr>
    <tr>
        <td>Node</td>
        <td> <input type="text" name="node" value="{{ c.prefix.node|default("", True) }}"> </td>
        <td class="help-text">Hostname of the node where the prefix is in use.</td>
    </tr>
    <tr>
        <td>Country</td>
        <td><input type="text" name="country" value="{{ c.prefix.country|default("", True) }}"></td>
        <td class="help-text">Two-letter country code according to ISO-3166-1</td>
    </tr>
    <tr>
        <td>SPAN order</td>
        <td><input type="text" name="span_order" value="{{ c.prefix.span_order|default("", True) }}"></td>
        <td class="help-text"></td>
    </tr>
    <tr>
        <td>Alarm priority</td>
        <td>
            {{ h.select("alarm_priority", c.prefix.alarm_priority, ['low', 'medium', 'high']) }}
        </td>
        <td class="help-text"></td>
    </tr>
    <tr>
        <td>Comment</td>
        <td colspan="2"><textarea rows="10" cols="72" name="comment">{{ c.prefix.comment|default("", True) }}</textarea></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="hidden" name="id" value="{{ c.prefix.id }}">
            <input type="submit" value="Edit">
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</form>

</div>

{% endblock %}
