{% extends "base.html" %}
{% set page = 'prefixes' %}

{% block head %}

<script>


    prefix_link_type = 'edit';

    /*
     * Perform a search operation
     */
    function performPrefixSearch() {

        var search_q = {
            'query_string': $('#query_string').val(),
            'schema': schema_id,
            'parents_depth': optToDepth($('input[name="search_opt_parent"]:checked').val()),
            'children_depth': optToDepth($('input[name="search_opt_child"]:checked').val()),
            'include_all_parents': 'true',
            'include_all_children': 'false',
            'max_result': 50,
            'offset': 0
        }

        $.getJSON("{{ h.url(controller = 'xhr', action = 'smart_search_prefix') }}", search_q, receivePrefixList);

    }

    /*
     * Function which is run when a collapse +/- sign is clicked.
     */
    function collapseClick(id) {

        // Determine if we need to fetch data
        if (prefix_list[id].has_children == -2) {

            // Yes, ask server for prefix list
            var data = {
                'schema': schema_id,
                'id': id,
                'include_parents': false,
                'include_children': false,
                'parents_depth': 0,
                'children_depth': 1
            };
            $.getJSON("{{ h.url(controller = 'xhr', action = 'search_prefix') }}", data, receivePrefixListUpdate);

        } else {
            toggleGroup(id);
        }

    }


    /*
     * Things to do on page load.
     */
    $(function () {

        // register events
        $("form").submit(function(e) {
            performPrefixSearch();
            e.preventDefault();
        });
        $("#query_string").keyup(performPrefixSearch);
        $('input[name="search_opt_parent"]').change(performPrefixSearch);
        $('input[name="search_opt_child"]').change(performPrefixSearch);

        // set focus
        $("#query_string").focus();

    });

</script>

{% endblock %}

{% block menu %}
<div id="search_box">
    <form id="prefix_search" method="post">
        <center>
            <div style="padding-bottom: 2px; padding-top: 1px; position: relative;">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="padding-right: 20px">
                                        <input id="query_string" type="text" size="30" autocomplete="off" autofocus="autofocus">
                                    </td>
                                    <td>
                                        <div id="sbd">
                                            <input name="search_button" type="submit" value="Search">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border=0>
                                <tr>
                                    <td class="opt_left" name="search_interpret" style="border-bottom: 1px dotted #EEEEEE;">
                                        Search interpretation
                                    </td>
                                    <td class="opt_right" id="search_interpret_container" style="border-bottom: 1px dotted #999999;"> </td>
                                </tr>
                                <tr>
                                    <td class="opt_left">
                                        Display options
									</td>
									<td class="opt_right">
										<table>
											<tr>
												<td style="text-align: right; padding: 0; margin: 0;">
													Include parent:
												</td>
												<td style="padding: 0; margin: 0;">

												{% if c.search_opt_parent == 'none' %}
													<input type="radio" name="search_opt_parent" value="none" checked>none</input>
												{% else %}
													<input type="radio" name="search_opt_parent" value="none">none</input>
												{% endif %}

												{% if c.search_opt_parent == 'immediate' %}
													<input type="radio" name="search_opt_parent" value="immediate" checked>immediate</input>
												{% else %}
													<input type="radio" name="search_opt_parent" value="immediate">immediate</input>
												{% endif %}

												{% if c.search_opt_parent == 'all' %}
													<input type="radio" name="search_opt_parent" value="all" checked>all</input>
												{% else %}
													<input type="radio" name="search_opt_parent" value="all">all</input>
												{% endif %}

												</td>
											</tr>
											<tr>
												<td style="text-align: right; padding: 0; margin: 0;">
													Include children:
												</td>
												<td style="padding: 0; margin: 0;">

												{% if c.search_opt_child == 'none' %}
													<input type="radio" name="search_opt_child" value="none" checked>none
												{% else %}
													<input type="radio" name="search_opt_child" value="none">none
												{% endif %}

												{% if c.search_opt_child == 'immediate' %}
													<input type="radio" name="search_opt_child" value="immediate" checked>immediate
												{% else %}
													<input type="radio" name="search_opt_child" value="immediate">immediate
												{% endif %}

												{% if c.search_opt_child == 'all' %}
													<input type="radio" name="search_opt_child" value="all" checked>all
												{% else %}
													<input type="radio" name="search_opt_child" value="all">all
												{% endif %}

												</td>
											</tr>
										</table>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
				<div style="position: absolute; right: 10px; top: 4px;">
					{{ nap.button('Add prefix', color='red', url=h.url(controller = 'prefix', action = 'add', schema = c.schema.id)) }}
				</div>
            </div>
        </center>
    </form>
</div>

{% endblock %}



{% block content %}

<div id="prefix_list">
</div>

{% endblock %}
