{% extends "base.html" %}
{% set page = 'prefixes' %}

{% block head %}

<script>

    prefix_link_type = 'edit';

    /*
     * Things to do on page load.
     */
    $(function () {

        // register events
        $("form").submit(function(e) {
            performPrefixSearch();
            e.preventDefault();
        });
        $("#query_string").keyup(performPrefixSearch);
        $('input[name="search_opt_parent"]').change(performPrefixSearch);
        $('input[name="search_opt_child"]').change(performPrefixSearch);

        // set focus
        $("#query_string").focus();

    });

</script>

{% endblock %}

{% block menu %}
<div id="search_box">
	{{ nap.prefix_search_form(c.search_opt_parent, c.search_opt_child) }}
	<div style="position: absolute; right: 20px; top: 55px;">
		{{ nap.button('Add prefix', color='red', url=h.url(controller = 'prefix', action = 'add', schema = c.schema.id)) }}
	</div>
</div>

{% endblock %}



{% block content %}

{{ nap.prefix_search_result() }}

{% endblock %}
