{% extends "base.html" %}
{% set page = 'prefixes' %}

{% block head %}
<link rel="stylesheet" href="/jquery-ui-1.8.13.custom.css">
<script src="/jquery-ui-1.8.13.custom.min.js"></script>
<script>

prefix_link_type = 'select';
var cur_opts = new Object();
var alloc_method = '';

/*
 * Enable from-prefix autocompleting search box.
 */
function enableFromPoolSearch(data) {

    var pools = new Array();

    for (p in data) {
        pools.push({
            'value': data[p].name,
            'id': data[p].id,
            'length_v4': data[p].ipv4_default_prefix_length,
            'length_v6': data[p].ipv6_default_prefix_length
            });
    }

    $("#from-pool").autocomplete({
        'source': pools,
        'select': selectPool
    });

}

/*
 * Run when a pool is selected from the pool list.
 */
function selectPool(e, ui) {

    // Save the pool
    cur_opts.pool = ui.item;

    // display data form
    $("#prefix_data_container").css('display', 'block');

    // set prefix length
    changeFamily();
    $('#length_info_row').css('display', 'table-row');
    $('#length_edit_row').css('display', 'table-row');

}

/*
 * Show prefix allocation container depending on what allocation
 * method is chosen.
 */
function showAllocContainer(e) {

    // from-prefix
    if (e.currentTarget.id == 'radio-from-prefix') {

        alloc_method = 'from-prefix';

        $("#from-prefix_container").show();
        $("#from-pool_container").hide();
        $("#prefix_data_container").hide();
        $("#prefix_row").hide();
		$("html,body").animate({ scrollTop: $("#from-prefix_container").offset().top - 50}, 700);

    // from-pool
    } else if (e.currentTarget.id == 'radio-from-pool') {

        alloc_method = 'from-pool';

        $("#from-prefix_container").hide();
        $("#from-pool_container").show();
        $("#prefix_data_container").hide();
        $("#prefix_row").hide();
        $('#prefix_length_prefix_container').hide();
		$("html,body").animate({ scrollTop: $("#from-pool_container").offset().top - 50}, 700);

    // else - manual
    } else {

        alloc_method = 'manual';

        $("#from-prefix_container").hide();
        $("#from-pool_container").hide();
        $("#prefix_data_container").show();
        $("#prefix_row").css('display', 'table-row');
        $('#prefix_length_prefix_container').hide();
		$("html,body").animate({ scrollTop: $("#prefix_data_container").offset().top - 50}, 700);

    }

}

/*
 * Toggle change of prefix length
 */
function toggleLengthEdit(e) {

    // view input field
    if (e.currentTarget.id == 'edit_length_default_radio') {
        $('#length_row').hide();
    } else {
        $('#length_row').show();
    }

}

/*
 * Is run when the adress family is changed
 */
function changeFamily() {

    // set prefix length in pool length input
    if (alloc_method == 'from-pool') {

        $('input[name="prefix_length_pool"]').val(cur_opts.pool.length_v4);

        if ($('input[name="family"]:checked').val() == '4') {
            $('input[name="prefix_length_pool"]').val(cur_opts.pool.length_v4);
            $('#def_length_container').html("Pool's default IPv4 prefix-length is " + cur_opts.pool.length_v4 + ".");
        } else {
            $('input[name="prefix_length_pool"]').val(cur_opts.pool.length_v6);
            $('#def_length_container').html("Pool's default IPv6 prefix-length is " + cur_opts.pool.length_v6 + ".");
        }
    }

    // TODO: set prefix length in prefix input

}

/*
 * Perform operation
 */
function prefixFormSubmit(e) {

    e.preventDefault();

    // create prefix data object
    var prefix_data = {
        'schema': {{ c.schema.id }},
        'description': $('input[name="description"]').val(),
        'comment': $('textarea[name="comment"]').val(),
        'node': $('input[name="node"]').val(),
        'type': $('select[name="type"] option:selected').val(),
        'country': $('input[name="country"]').val(),
        'span_order': $('input[name="span_order"]').val(),
        'alarm_priority': $('select[name="alarm_priority"] option:selected').val(),
    };

    // different data due to different allocation methods
    if (alloc_method == 'from-pool') {

        prefix_data.from_pool = cur_opts.pool.id;
        prefix_data.prefix_length = $('input[name="prefix_length_pool"]').val();
        prefix_data.family = $('input[name="family"]:checked').val();

    } else if (alloc_method == 'from-prefix') {

        prefix_data.from_prefix = cur_opts.from_prefix;
        prefix_data.prefix_length = $('input[name="prefix_length_prefix"]').val();

    } else {

        prefix_data.prefix = $('input[name="prefix"]').val();

    }

    $.getJSON('{{ h.url(controller="xhr", action="add_prefix")}}', prefix_data, prefixAdded);


}

/*
 * Run when prefix addition is complete.
 */
function prefixAdded(data) {

    if ('error' in data) {
        displayNotice('Operation failed', data.message);
    } else {
        $('#prefix_added').html(data.prefix);
        $('#prefix_added_container').show();
        $("html,body").animate({ scrollTop: $("#prefix_added_container").offset().top - 50}, 700);
        $("#prefix_added_bg").animate({ backgroundColor: "#ffffff" }, 1).delay(200).animate({ backgroundColor: "#3d9400" }, 700).delay(200).animate({ backgroundColor: "#ccffcc" }, 1000);
    }

}


/*
 * Is run when a prefix is selected in the list.
 */
function selectPrefix(prefix_id) {

    // set prefix's pool attribute in Nap
    $('#prefix_data_container').show();
    $('#prefix_length_prefix_container').show();
    if ('from_prefix' in cur_opts) {
        cur_str = $('#alloc_from_prefix').html();
        $('#alloc_from_prefix').html(cur_str + ', ' + prefix_list[prefix_id].prefix);
        cur_opts.from_prefix.push(prefix_list[prefix_id].prefix);
    } else {
        $('#alloc_from_prefix').html(prefix_list[prefix_id].prefix);
        cur_opts.from_prefix = new Array(prefix_list[prefix_id].prefix);
    }

    $("html,body").animate({ scrollTop: $("#prefix_length_prefix_container").offset().top - 50}, 700);
    $("#prefix_length_prefix_bg").animate({ backgroundColor: "#ffffff" }, 1).delay(200).animate({ backgroundColor: "#dddd33" }, 300).delay(200).animate({ backgroundColor: "#ffffee" }, 1000);

}


/*
 * Perform a search operation
 */
function performSearch() {

    console.log("Searching..");

    var search_q = {
        'query_string': $('#query_string').val(),
        'schema': {{ c.schema.id }},
        'search_opt_parent': $('input[name="search_opt_parent"]:checked').val(),
        'search_opt_child': $('input[name="search_opt_child"]:checked').val()
    }

    $.getJSON("{{ h.url(controller='xhr', action='smart_search_prefix') }}", search_q, receivePrefixList);

}

$(function () {

    // fetch data for pool search box
    $.getJSON('{{ h.url(controller="xhr", action="list_pool") }}', {'schema_id': {{ c.schema.id }}}, enableFromPoolSearch);

    // Enable actions on radio buttons
    $('input[name="prefix_alloc_method"]').change(showAllocContainer);
    $('input[name="edit_length"]').change(toggleLengthEdit);

    // Enable action on the adress family select box
    $('input[name="family"]').change(changeFamily);

    // catch submit action
    $('#prefix_data_form').submit(prefixFormSubmit);

    $("#query_string").keyup(performSearch);


});
</script>
{% endblock %}

{% block content %}

<div class="page-title">
Prefix administration &mdash;&gt; add prefix
</div>

<!-- 

    PREFIX ALLOCATION METHOD

-->
<div class="options-group">
	<div class="options-content">
		<h3 class="options-group-heading">Prefix allocation method</h3>
		<table>
			<tr>
				<td width="120" valign="top">
					<input id="radio-from-pool" type="radio" name="prefix_alloc_method" value="from-pool">
					<label for="radio-from-pool">From pool</label>
				</td>
				<td>Get a prefix from a pre-defined prefix pool.</td>
			</tr>
			<tr>
				<td valign="top">
					<input id="radio-from-prefix" type="radio" name="prefix_alloc_method" value="from-prefix">
					<label for="radio-from-prefix">From prefix</label>
				</td>
				<td>Get a prefix allocated from another prefix.</td>
			</tr>
			<tr>
				<td valign="top">
					<input id="radio-manual" type="radio" name="prefix_alloc_method" value="manual">
					<label for="radio-manual">Manual</label>
				</td>
				<td>Specify all data manually</td>
			</tr>
		</table>
	</div>
</div>

<!--

    FROM-POOL

-->
<div style="display: none;" id="from-pool_container">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Pool allocation options</h3>
			<table>
				<tr>
					<td>Family</td>
					<td>
						<label for="family_4_radio">IPv4</label><input type="radio" name="family" value="4" id="family_4_radio" checked>
						<label for="family_6_radio">IPv6</label><input type="radio" name="family" value="6" id="family_6_radio">
					</td>
				</tr>
				<tr>
					<td><label for="from-pool">Pool</label></td>
					<td><input id="from-pool" type="text" name="from-pool"></td>
				</tr>
				<tr style="display: none;" id="length_info_row">
					<td style="padding-right: 20px;">Prefix-length</td>
					<td>
						<span id="def_length_container"></span>
					</td>
				</tr>
				<tr style="display: none;" id="length_edit_row">
					<td>&nbsp;</td>
					<td>
						<label for="edit_length_default_radio">Use default</label>
						<input type="radio" name="edit_length" value="0" id="edit_length_default_radio" checked>
						<label for="edit_length_override_radio">Override</label>
						<input type="radio" name="edit_length" value="1" id="edit_length_override_radio">
					</td>
				</tr>
				<tr style="display: none;" id="length_row">
					<td>&nbsp;</td>
					<td>
						<input type="text" name="prefix_length_pool">
					</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!--

    FROM-PREFIX

-->
<div style="display: none;" id="from-prefix_container">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Prefix allocation options</h3>
				<center>
					<form method="post">
						<input type="text" id="query_string" name="query_string"  size="50" autocomplete="off">
						<input type="submit" value="Search">
					</form>
				</center>
				<table>
					<tr>
						<td width="40">&nbsp;</td>
						<td class="opt_left">
							Search interpretation
						</td>
						<td class="opt_right" id="search_interpret_container"> </td>
					</tr>
				</table>
				<div class="prefix_list" id="prefix_list"></div>
		</div>

		<div id="prefix_length_prefix_container" style="display: none;">
			<div id="prefix_length_prefix_bg" class="options-content">
				<table>
					<tr>
						<td>Allocating from</td>
						<td><span id="alloc_from_prefix"></span></td>
					</tr>
					<tr id="length_info_row">
						<td style="padding-right: 20px;">Prefix-length</td>
						<td>
							<input type="text" name="prefix_length_prefix">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<!--

    PREFIX DATA

-->
<div id="prefix_data_container" style="display: none;">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Prefix options</h3>
			<form method="post" id="prefix_data_form" action="{{ h.url(controller="prefix", action="add", schema=c.schema.id) }}">
			<table>
				<tr id="prefix_row">
					<td>Prefix</td>
					<td><input type="text" name="prefix" value="{{ c.prefix }}"></td>
					<td class="help-text">192.0.2.16/28</td>
				</tr>
				<tr>
					<td>Description</td>
					<td><input type="text" name="description"></td>
					<td class="help-text">A short text describing the prefix.</td>
				</tr>
				<tr>
					<td>Node</td>
					<td><input type="text" name="node"></td>
					<td class="help-text">FQDN (Fully Qualified Domain Name) of the node where the prefix is in use, e.g. 'amsterdam-router-1.example.com'</td>
				</tr>
				<tr>
					<td>Type</td>
					<td>
						<select name="type">
							<option value="reservation">Reservation</option>
							<option value="assignment" selected>Assignment</option>
							<option value="host">Host</option>
						</select>
					</td>
					<!-- TODO: write better explanation -->
					<td class="help-text">Type of prefix.</td>
				</tr>
				<tr>
					<td>Country</td>
					<td><input type="text" name="country"></td>
					<td class="help-text">Two-letter country code according to <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements">ISO-3166-1</a></td>
				</tr>
				<tr>
					<td>SPAN order</td>
					<td><input type="text" name="span_order"></td>
					<td class="help-text"></td>
				</tr>
				<tr>
					<td>Alarm priority</td>
					<td>
						<select name="alarm_priority">
							<option value="low">low
							<option value="medium">medium
							<option value="high">high
						</select>
					</td>
					<td class="help-text"></td>
				</tr>
				<tr>
					<td>Comment</td>
					<td colspan="2"><textarea rows="10" cols="72" name="comment"></textarea></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type="submit" value="Add"></td>
					<td>&nbsp;</td>
				</tr>
			</table>
			</form>
		</div>
	</div>
</div>

<div id="prefix_added_container" style="display: none;">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Result</h3>
			<div id="prefix_added_bg" style="padding: 15px; background-color: #ccffcc;">
				The prefix <span id="prefix_added"></span> was successfully added to NAP.
			</div>
		</div>
	</div>
</div>

{% endblock %}
