{% extends "base.html" %}
{% set page = 'prefixes' %}

{% block head %}
<script src="/jquery-ui-1.8.13.custom.min.js"></script>
<script>

prefix_link_type = 'select';

var cur_opts = new Object();
var alloc_method = '';


/*
 * Run when prefix addition is complete.
 */
function prefixAdded(data) {

    if ('error' in data) {
        showDialogNotice('Operation failed', data.message);
    } else {
        $('#prefix_added_container').show();
        // TODO: don't scroll if result is alreday visible
        $("html,body").animate({ scrollTop: $("#prefix_added_container").offset().top - 500}, 700);

        $('#prefix_added_list').prepend('<div id="prefix_added_entry' + data.id + '" class="prefix_added_entry">Added prefix: ' + data.prefix + ' - ' + data.description + '</div>');
        $("#prefix_added_entry" + data.id).animate({ backgroundColor: "#ccffcc" }, 1).delay(200).animate({ backgroundColor: "#3d9400" }, 700).delay(200).animate({ backgroundColor: "#ccffcc" }, 1000);
    }

}


$(function () {

    // fetch data for pool search box
    $.getJSON('{{ h.url(controller="xhr", action="list_pool") }}', {'schema': schema_id }, enableFromPoolSearch);

    $('#prefix-alloc-method_container').show();

    // Enable actions on radio buttons
    $('input[name="prefix_alloc_method"]').change(showAllocContainer);
    $('input[name="edit_length"]').change(toggleLengthEdit);

    // Enable action on the adress family select box
    $('input[name="family"]').change(changeFamily);

    $('input[name="prefix_monitor"]').change(prefixMonitorToggled);
    prefixMonitorToggled();

    // handle the comment input field
    $("input[name='prefix_comment']").hide();
    $('#add_comment').show();
    $('#add_comment').click(function() {
        $("input[name='prefix_comment']").slideDown();
        $("#add_comment").hide();
    });

    // capture click event on overlay placed behind prefix menu
    $(".prefix_menu_overlay").click(function(e) {
        $(".prefix_menu").hide();
        $(".prefix_menu_overlay").hide();
    });

    // catch submit actions
    $('#prefix_data_form').submit(prefixFormSubmit);

    $("form[name='prefix_search']").submit(function(e) {
        performPrefixSearch(true);
        e.preventDefault();
    });
    $('input[name="search_opt_parent"]').change(performPrefixSearch);
    $('input[name="search_opt_child"]').change(performPrefixSearch);
    $("#query_string").keyup(prefixSearchKey);

});
</script>
{% endblock %}

{% block content %}

<div class="page-title">
Prefix administration &mdash;&gt; add prefix
</div>

{% include 'prefix_add_containers.html' %}

<div id="prefix_added_container" style="display: none;">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Result</h3>
			<div id="prefix_added_list">
			</div>
		</div>
	</div>
</div>

{% endblock %}
