{% extends "base.html" %}
{% set page = 'prefixes' %}

{% block head %}
<link rel="stylesheet" href="/jquery-ui-1.8.13.custom.css">
<script src="/jquery-ui-1.8.13.custom.min.js"></script>
<script>

prefix_link_type = 'select';

var cur_opts = new Object();
var alloc_method = '';


/*
 * Run when prefix addition is complete.
 */
function prefixAdded(data) {

    if ('error' in data) {
        displayNotice('Operation failed', data.message);
    } else {
        $('#prefix_added').html(data.prefix);
        $('#prefix_added_container').show();
        $("html,body").animate({ scrollTop: $("#prefix_added_container").offset().top - 50}, 700);
        $("#prefix_added_bg").animate({ backgroundColor: "#ffffff" }, 1).delay(200).animate({ backgroundColor: "#3d9400" }, 700).delay(200).animate({ backgroundColor: "#ccffcc" }, 1000);
    }

}


$(function () {

    // fetch data for pool search box
    $.getJSON('{{ h.url(controller="xhr", action="list_pool") }}', {'schema_id': schema_id }, enableFromPoolSearch);

    $('#prefix-alloc-method_container').show();

    // Enable actions on radio buttons
    $('input[name="prefix_alloc_method"]').change(showAllocContainer);
    $('input[name="edit_length"]').change(toggleLengthEdit);

    // Enable action on the adress family select box
    $('input[name="family"]').change(changeFamily);

    $('input[name="prefix_monitor"]').change(prefixMonitorToggled);
    prefixMonitorToggled();

    // catch submit actions
    $('#prefix_data_form').submit(prefixFormSubmit);

    $("form[name='prefix_search']").submit(function(e) {
        performPrefixSearch(true);
        e.preventDefault();
    });
    $('input[name="search_opt_parent"]').change(performPrefixSearch);
    $('input[name="search_opt_child"]').change(performPrefixSearch);
    $("#query_string").keyup(performPrefixSearch);


});
</script>
{% endblock %}

{% block content %}

<div class="page-title">
Prefix administration &mdash;&gt; add prefix
</div>

{% include 'prefix_add_containers.html' %}

<div id="prefix_added_container" style="display: none;">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Result</h3>
			<div id="prefix_added_bg" style="padding: 15px; background-color: #ccffcc;">
				The prefix <span id="prefix_added"></span> was successfully added to NAP.
			</div>
		</div>
	</div>
</div>

{% endblock %}
