<div style="text-align: center; padding: 30px;">
	<label>Search: <input type="text" ng-model="query"></label>
</div>

<table class="listing" id="pool_table" style="width: 100%;" border=0>
	<thead class="listing">
		<tr>
			<th style="padding-left: 30px;">Name</th><th></th><th>Description</th><th>Default type</th><th width="75">4 / 6</th>
		</tr>
	</thead>
	<tbody class="listing">
		<tr ng-repeat="pool in pools | filter:query" id="pool_row{{ pool.id }}" data-pool-id="{{ pool.id }}">
			<td style="padding-left: 30px;"><a href ng-click="selectPool(pool)">{{ pool.name }}</a></td>
			<td><img ng-if="pool.tags|notEmpty" src="/images/tag-16.png" uib-tooltip-html="pool.tags|popoverFormatTags"></td>
			<td>{{ pool.description }}</td>
			<td>{{ pool.default_type }}</td>
			<td>{{ pool.ipv4_default_prefix_length || '-' }} / {{ pool.ipv6_default_prefix_length || '-' }}</td>
		</tr>
	</tbody>
</table>
