	<footer class="bs-docs-footer navbar-inverse nipap-footer" role="navigation">

		<div class="container">
			<ul class="bs-docs-footer-links">
				<li><img src="assets/images/icons/gray-google-plus-24.png"> <a href="https://plus.google.com/communities/104192872189003321837">discuss</a> on Google+</li>
				<li><img src="assets/images/icons/gray-chat-4-24.png"> <a href="irc://chat.freenode.net/#NIPAP">#NIPAP</a> on freenode</li>
				<li><img src="assets/images/icons/gray-github-10-24.png"> <a href="https://github.com/SpriteLink/NIPAP/issues">issue tracker</a> on GitHub</li>
				<li><img src="assets/images/icons/gray-google-plus-5-24.png"> <a href="https://plus.google.com/100520153767587090955">follow NIPAP</a> on Google+</li>
			</ul>
		</div>
	</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/docs.min.js"></script>
</body>
</html>
