Source: pynipap
Maintainer: Lukas Garberg <lukas@spritelink.net>
Section: python
Priority: optional
Build-Depends: python (>= 2.4), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-pynipap
Architecture: all
Depends: ${misc:Depends}, python (>= 2.4)
Breaks: ${python:Breaks}
Description: Python module for accessing NIPAP
 This package contains a client library for NIPAP. It's function is similar to
 a simple ORM, which hides much of the complexity of working directly against
 the XML-RPC interface.
