Source: pynipap
Maintainer: Lukas Garberg <lukas@spritelink.net>
Section: python
Priority: optional
Build-Depends: debhelper (>= 10), dh-python,
               python3 (>= 3.6)
X-Python3-Version: >= 3.6
Standards-Version: 4.4.0

Package: python3-pynipap
Architecture: all
Depends: ${misc:Depends}, python3 (>= 3.6)
Breaks: ${python3:Breaks}
Description: Python 3 module for accessing NIPAP
 This package contains a client library for NIPAP. It's function is similar to
 a simple ORM, which hides much of the complexity of working directly against
 the XML-RPC interface.
