Source: nipap
Maintainer: Lukas Garberg <lukas@spritelink.net>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 4.6.1
Homepage: https://spritelink.github.io/NIPAP/
Rules-Requires-Root: no

Package: nipap-common
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}
Suggests: python3-ldap
Description: Neat IP Address Planner
 The Neat IP Address Planner, NIPAP, is a system built for efficiently managing
 large amounts of IP addresses. This is the common libraries.

Package: nipapd
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, nipap-common
Description: Neat IP Address Planner XML-RPC daemon
 The Neat IP Address Planner, NIPAP, is a system built for efficiently managing
 large amounts of IP addresses. This is the XML-RPC daemon.
