Source: nipap-cli
Maintainer: Lukas Garberg <lukas@spritelink.net>
Section: python
Priority: optional
Build-Depends: python3 (>= 3.1), dh-python, debhelper (>= 9), python3-setuptools
Standards-Version: 3.9.1

Package: nipap-cli
Architecture: all
Depends: ${misc:Depends}, python3 (>= 3.1), python3-ipy, python3-pynipap
Description: Neat IP Address Planner
 The Neat IP Address Planner, NIPAP, is a system built for efficiently managing
 large amounts of IP addresses. This is the shell command.
