Source: nipap-cli
Maintainer: Lukas Garberg <lukas@spritelink.net>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               dh-exec,
               python3-all,
               python3-setuptools,
               bash-completion
Standards-Version: 4.6.1

Package: nipap-cli
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Neat IP Address Planner
 The Neat IP Address Planner, NIPAP, is a system built for efficiently managing
 large amounts of IP addresses. This is the shell command.
