{% extends "base.html" %}

{% block content %}

{{ h.form(url(controller='auth', action='login'), method='post') }}
<div style="padding-top: 30px;">
	<div class="options-group">
		<div class="options-content">
			<div class="options-group-heading">
				Log in
			</div>
			<div class="rule"></div>
			{% if c.welcome_message is defined %}
			<div class="option">
				<dl>
					<dt></dt>
					<dd>{{c.welcome_message}}</dd>
				</dl>
			</div>
			<div class="rule"></div>
			{% endif %}
			<div class="option">
				<dl>
					<dt>Username</dt>
					<dd>{{ h.text('username') }}</dd>
				</dl>
			</div>
			<div class="rule"></div>
			<div class="option">
				<dl>
					<dt>Password</dt>
					<dd>{{ h.password('password') }}</dd>
				</dl>
			</div>
			<div class="rule"></div>
			<div class="option">
				<dl>
					<dt></dt>
					<dd>{{ h.submit('send', 'Log in', class='button button_red') }}</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
{{ h.end_form() }}

{% if c.error %}
<div id="login_failure_container">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Result</h3>
			<div style="padding: 15px; background-color: #ffcccc;">
				{{ c.error }}
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}
