{% macro button(text, color='red', width='100px', height='30px', url='', id='btn') -%}
<a href="{{url}}" id="{{id}}">
    <div class="button button_{{color}}" style="height: {{height}}; width: {{width}};">
        <div style="display: inline-block; vertical-align: middle;">
            {{text}}
        </div>
    </div>
</a>
{%- endmacro %}

{% macro prefix_search_form(search_opt_parent='all', search_opt_child='none', id_suffix='') %}
<!--
    An overlay div placed between page content and
    prefix menu to capture clicks outside the menu.
-->
<form name="prefix_search{{ id_suffix }}" method="post">
    <center>
        <div style="padding-bottom: 2px; padding-top: 1px; position: relative;">
			<div style="width: 50%; max-width: 700px; min-width: 500px; padding-left: 87px;">
				<table cellpadding="0" cellspacing="0" style="width: 100%;">
					<tr>
						<td style="padding-right: 20px; width: 100%;">
							<input id="query_string{{ id_suffix }}" type="text" style="width: 100%;" autocomplete="off" autofocus="autofocus">
							<div style="font-size: 10px; margin: 0px; padding: 1px 1px 1px 10px; width: 100%; position: relative;">
								<div id="search_stats">&nbsp;</div>
								<div style="padding: 1px 1px 1px 10px; position: absolute; top: 0; right: 0;"><a href="javascript:void(0);" onclick="displaySearchHelp();">search help?</a></div>
							</div>
						</td>
						<td style="vertical-align: top; width: 87px; !important">
							<div id="sbd">
								<input name="search_button" type="submit" value="Search">
							</div>
						</td>
					</tr>
				</table>
			</div>

			<table border=0>
				<tr>
					<td class="opt_left tooltip" name="search_interpret" style="border-bottom: 1px dotted #EEEEEE;" title="This shows how your search query was interpreted by the search engine. All terms are ANDed together.">
						Search interpretation
					</td>
					<td class="opt_right" id="search_interpret_container" style="border-bottom: 1px dotted #999999;"> </td>
				</tr>
				<tr>
					<td class="opt_left">
						Display options
					</td>
					<td class="opt_right">
						<table>
							<tr>
								<td style="text-align: right; padding: 0; margin: 0;">
									Include parent:
								</td>
								<td style="padding: 0; margin: 0;">

								{% if search_opt_parent == 'none' %}
									<input type="radio" name="search_opt_parent{{ id_suffix }}" value="none" checked>none</input>
								{% else %}
									<input type="radio" name="search_opt_parent{{ id_suffix }}" value="none">none</input>
								{% endif %}

								{% if search_opt_parent == 'immediate' %}
									<input type="radio" name="search_opt_parent{{ id_suffix }}" value="immediate" checked>immediate</input>
								{% else %}
									<input type="radio" name="search_opt_parent{{ id_suffix }}" value="immediate">immediate</input>
								{% endif %}

								{% if search_opt_parent == 'all' %}
									<input type="radio" name="search_opt_parent{{ id_suffix }}" value="all" checked>all</input>
								{% else %}
									<input type="radio" name="search_opt_parent{{ id_suffix }}" value="all">all</input>
								{% endif %}

								</td>
							</tr>
							<tr>
								<td style="text-align: right; padding: 0; margin: 0;">
									Include children:
								</td>
								<td style="padding: 0; margin: 0;">

								{% if search_opt_child == 'none' %}
									<input type="radio" name="search_opt_child{{ id_suffix }}" value="none" checked>none
								{% else %}
									<input type="radio" name="search_opt_child{{ id_suffix }}" value="none">none
								{% endif %}

								{% if search_opt_child == 'immediate' %}
									<input type="radio" name="search_opt_child{{ id_suffix }}" value="immediate" checked>immediate
								{% else %}
									<input type="radio" name="search_opt_child{{ id_suffix }}" value="immediate">immediate
								{% endif %}

								{% if search_opt_child == 'all' %}
									<input type="radio" name="search_opt_child{{ id_suffix }}" value="all" checked>all
								{% else %}
									<input type="radio" name="search_opt_child{{ id_suffix }}" value="all">all
								{% endif %}

								</td>
							</tr>
						</table>

					</td>
				</tr>
			</table>
        </div>
    </center>
</form>

{% endmacro %}

{% macro prefix_search_result(id_suffix='') %}
<div id="search_result_help" style="text-align: center; padding: 30px; color: #777777;">
    There are no results to display. Please enter a search query!<br>
    <a href="javascript:void(0);" onclick="displaySearchHelp();">See the help section on how to perform a search.</a>
</div>
<div class="prefix_list" id="prefix_list{{ id_suffix }}">
</div>
<div id='nextpage' style="display: none; text-align: center; padding: 20px;"><a href="javascript:void(0);" onclick="performPrefixNextPage();">Display more...</a></div>
{% endmacro %}
