{% if c.pool is defined %}
<form method="post" name="pool_form" action="{{ h.url(controller="pool", action="edit", id=c.pool.id) }}">
	{% else %}
	<form method="post" name="pool_form" action="{{ h.url(controller="pool", action="add") }}">
		{% endif %}

		<div class="options-group">
			<div class="options-content">

				<h3 class="options-group-heading">Properties of {% if c.pool is defined %}pool: {{ c.pool.name }} {% else %}new pool{% endif %}</h3>

				<div class="option">
					<dl>
						<dt>
						Name <span class="required" tooltip="This field is required, please fill in! :-)">*</span>
						</dt>
						<dd>
						<input type="text" name="name" value="{%- if c.pool is defined -%}{{ c.pool.name }}{%- endif -%}"></td>
					</dd>
				</dl>
			</div>

			<div class="rule"></div>

			<div class="option">
				<dl>
					<dt>
					Description
					</dt>
					<dd>
					<input type="text" style="width: 80%;" name="description" value="{%- if c.pool is defined -%}{{ c.pool.description or '' }}{%- endif -%}" tooltip="Enter a short description of what this pool is used for.">
					</dd>
				</dl>
			</div>

			<div class="rule"></div>

			<div class="option">
				<dl>
					<dt>
					Tags
					</dt>
					<dd>
					<ul id="tags" style="font-size: 1.0em;">
						{%- if c.pool is defined -%}
						{% for tag in c.pool.tags|sort() %}<li>{{ tag }}</li>{% endfor %}
						{% endif %}
					</ul>
					</dd>
				</dl>
			</div>

			<div class="rule"></div>

			<div class="option">
				<dl>
					<dt>
					Default type
					</dt>
					<dd>
					<input id="radio-default-type-reservation" tooltip="Reservation are for reserving a network for later assigning as specific assignments" type="radio" name="default_type" value="reservation" {% if c.pool is defined %}{% if c.pool.default_type == 'reservation' %} checked{% endif %}{% endif %}>
					<label for="radio-default-type-reservation" tooltip="Reservation are for reserving a network for later assigning as specific assignments">Reservation</label>
					<input id="radio-default-type-assignment" tooltip="A single subnet, for a specific use in the network" type="radio" name="default_type" value="assignment" {% if c.pool is defined %}{% if c.pool.default_type == 'assignment' %} checked{% endif %}{% endif %}>
					<label for="radio-default-type-assignment" tooltip="A single subnet, for a specific use in the network">Assignment</label>
					<input id="radio-default-type-host" tooltip="A single host within an assignment" type="radio" name="default_type" value="host" {% if c.pool is defined %}{% if c.pool.default_type == 'host' %} checked{% endif %}{% endif %}>
					<label id="label-default-type-host" tooltip="A single host within an assignment" for="radio-default-type-host">Host</label>
					<a href="javascript:void(0);" onclick="displayPrefixTypeHelp();" style="font-size: 10px; padding-left: 30px;">help on prefix types?</a>
					</dd>
				</dl>
			</div>

			<div class="rule"></div>

			<div class="option">
				<dl>
					<dt>
					Default IPv4 prefix length
					</dt>
					<dd>
					<input type="text" name="ipv4_default_prefix_length" value="{% if c.pool is defined %}{{ c.pool.ipv4_default_prefix_length or '' }}{% endif %}" tooltip="The default IPv4 prefix length of prefixes assigned from this pool. Should be an integer value, for example 24 or 31.">
					</dd>
				</dl>
			</div>

			<div class="rule"></div>

			<div class="option">
				<dl>
					<dt>
					Default IPv6 prefix length
					</dt>
					<dd>
					<input type="text" name="ipv6_default_prefix_length" value="{% if c.pool is defined %}{{ c.pool.ipv6_default_prefix_length or '' }}{% endif %}" tooltip="The default IPv6 prefix length of prefixes assigned from this pool. Should be an integer value, for example 64 or 112.">
					</dd>
				</dl>
			</div>

			<div class="rule"></div>

			{% if c.pool is defined %}
			<div class="option">
				<dl>
					<dt>
					Implied VRF
					</dt>
					<dd>
					<span tooltip="The implied VRF is the VRF to which prefixes that are members of this pool belong.">
						{% if c.pool is defined %}{% if c.pool.vrf.rt != None %}{{ c.pool.vrf.rt or '' }} - {% endif %}{{ c.pool.vrf.name or '' }}{% endif %}
					</span>
					</dd>
				</dl>
			</div>

			<div class="rule"></div>
			{% endif %}

			<div class="option">
				<dl>
					<dt>
					</dt>
					<dd>
					<input type="submit" class="button button_green" value="{% if c.pool is defined %}Save pool{% else %}Add pool{% endif %}">
					</dd>
				</dl>
			</div>

		</div>
	</div>
</form>
