
<!--

PREFIX DATA

-->
<div id="prefix_data_container" style="display: none;">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Prefix options</h3>
			<form method="post" id="prefix_form" action="{{ h.url(controller="prefix", action="add") }}">

				<div class="option" style="display: none;" id="prefix-row">
					<dl>
						<dt>
						Prefix <span class="required tooltip" title="This field is required, please fill in! :-)">*</span>
						</dt>
						<dd>
						<input type="text" name="prefix_prefix" value="{{ c.prefix.prefix }}" class="tooltip" title="The prefix, i.e. 192.0.2.16/28">
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Type <span class="required tooltip" title="This field is required, please fill in! :-)">*</span>
						</dt>
						<dd>
						<span id="default_prefix_type" style="display: none; cursor: pointer;">Default prefix type for pool is <b><span id="pool_prefix_type"></span></b>. Click to change.</span>
						<span id="prefix_type_selection">
							<input type="radio" id="radio-prefix-type-reservation" name="prefix_type" value="reservation" class="tooltip" title="" {% if c.prefix.type == 'reservation' %}checked{% elif c.prefix.type == 'host' %}disabled{% endif %}><label for="radio-prefix-type-reservation">Reservation</label>
							<input type="radio" id="radio-prefix-type-assignment" name="prefix_type" value="assignment" class="tooltip" title="" {% if c.prefix.type == 'assignment' %}checked{% elif c.prefix.type == 'host' %}disabled{% endif %}><label for="radio-prefix-type-assignment">Assignment</label>
							<input type="radio" id="radio-prefix-type-host" name="prefix_type" value="host" class="tooltip" title=""{% if c.prefix.type == 'host' %} checked{% endif %} disabled><label for="radio-prefix-type-host">Host</label>
							<a href="javascript:void(0);" onclick="displayPrefixTypeHelp();" style="font-size: 10px; padding-left: 30px;">help on prefix types?</a>
						</span>
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						VRF
						</dt>
						<dd>
						<div style="position: relative;">
							<div>
								<div id="prefix_vrf_text" class="prefix_vrf_text"></div>
								<div class="selector">
									<div id="prefix_vrf_display" style="width: 80%; border: 1px solid #CCCCCC; float: left;">
										{% if c.prefix.vrf %}
										<div class="vrf_filter_entry">
											<div class="vrf_filter_entry_rt">RT:&nbsp;{{ c.prefix.vrf.rt or '-' }}</div>
											<div class="selector_entry_name" style="margin-left: 5px;">{{ c.prefix.vrf.name }}</div>
											<div class="selector_entry_description" style="clear: both;">{{ c.prefix.vrf.description }}</div>
										</div>
										{% endif %}
									</div>
									<input type="button" class="button button_red" style="display: none; margin-left: 15px; float: left;" name="prefix_vrf_btn" value="Change VRF">
								</div>
							</div>
						</div>
						<input type="hidden" name="prefix_vrf_id" value="{% if c.prefix.vrf %}{{ c.prefix.vrf.id }}{% endif %}">
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Description
						</dt>
						<dd>
						<input type="text" name="prefix_description" style="width: 80%;" class="tooltip" title="A brief description of the prefix." value="{{ c.prefix.description or '' }}">
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option" id="prefix_comment_container">
					<dl>
						<dt>
						Comment
						</dt>
						<dd>
						{% if c.prefix.comment %}
						<input type="text" name="prefix_comment" value="{{ c.prefix.comment or '' }}">
						{% else %}
						<span id="add_comment" style="font-size: 10px; color: gray; cursor: pointer; display: none;">add comment</span><input type="text" name="prefix_comment" style="width: 80%;">
						{% endif %}
						</dd>
					</dl>
				</div>

				<div class="rule" id="prefix_comment_rule"></div>

				<div class="option">
					<dl>
						<dt>
						Tags
						</dt>
						<dd>
						<ul id="tags" style="font-size: 1.0em;">
							{% for tag in c.prefix.tags|sort() %}<li>{{ tag }}</li>{% endfor %}
						</ul>
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Inherited Tags
						</dt>
						<dd>
						<ul id="inherited_tags" style="font-size: 1.0em;">
							{% for tag in c.prefix.inherited_tags|sort() %}<li>{{ tag }}</li>{% endfor %}
						</ul>
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Node
						</dt>
						<dd>
						<input type="text" name="prefix_node" value="{{ c.prefix.node or '' }}" class="tooltip" title="Name of the node, typically the hostname or FQDN of the node (router/switch/host) on which the address is configured.">
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Country
						</dt>
						<dd>
						<input type="text" name="prefix_country" size=3 value="{{ c.prefix.country or '' }}" class="tooltip" title="Two-letter country code according to ISO-3166-1'">
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Order ID
						</dt>
						<dd>
						<input type="text" name="prefix_order_id" value="{{ c.prefix.order_id or '' }}" size=10>
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Customer ID
						</dt>
						<dd>
						<input type="text" name="prefix_customer_id" value="{{ c.prefix.customer_id or '' }}" size=10>
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						VLAN
						</dt>
						<dd>
						<input type="text" name="prefix_vlan" value="{{ c.prefix.vlan or '' }}" size=10>
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Monitor
						</dt>
						<dd>
						<input type="checkbox" name="prefix_monitor" title="Check to monitor this prefix." {% if c.prefix.monitor == True %} checked{% endif %}{% if c.prefix.type == 'host' %} disabled{% endif %}>
						<span id="alarm_priority_container">
							Priority:
							<input type="radio" id="radio-prefix-alarm-prio-warning" name="prefix_alarm_priority" value="warning"{% if c.prefix.alarm_priority == 'warning' %} checked{% endif %}{% if c.prefix.type == 'host' %} disabled{% endif %}>
							<label for="radio-prefix-alarm-prio-warning">Warning</label>
							<input type="radio" id="radio-prefix-alarm-prio-low" name="prefix_alarm_priority" value="low"{% if c.prefix.alarm_priority == 'low' %} checked{% endif %}{% if c.prefix.type == 'host' %} disabled{% endif %}>
							<label for="radio-prefix-alarm-prio-low">Low</label>
							<input type="radio" id="radio-prefix-alarm-prio-medium" name="prefix_alarm_priority" value="medium"{% if c.prefix.alarm_priority == 'medium' %} checked{% endif %}{% if c.prefix.type == 'host' %} disabled{% endif %}>
							<label for="radio-prefix-alarm-prio-medium">Medium</label>
							<input type="radio" id="radio-prefix-alarm-prio-high" name="prefix_alarm_priority" value="high"{% if c.prefix.alarm_priority == 'high' %} checked{% endif %}{% if c.prefix.type == 'host' %} disabled{% endif %}>
							<label for="radio-prefix-alarm-prio-high">High</label>
							<input type="radio" id="radio-prefix-alarm-prio-critical" name="prefix_alarm_priority" value="critical"{% if c.prefix.alarm_priority == 'critical' %} checked{% endif %}{% if c.prefix.type == 'host' %} disabled{% endif %}>
							<label for="radio-prefix-alarm-prio-critical">Critical</label>
						</span>
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						</dt>
						<dd>
						<input type="hidden" name="id" value="{{ c.prefix.id }}">
						<input class="button button_green" type="submit" value="{% if c.prefix.id is defined %}Save{% else %}Add{% endif %}">
						</dd>
					</dl>
				</div>

			</form>
		</div>
	</div>
</div>
