{% extends "base.html" %}
{% set page = 'prefixes' %}

{% block head %}
    <script>

        /*
         * Run when prefix edit is complete.
         */
        function prefixEdited(data) {

            if ('error' in data) {
                showDialogNotice('Operation failed', data.message);
            } else {
                $('#prefix_success_name').html(data.name);
                $('#prefix_success_container').show();
                $("html,body").animate({ scrollTop: $("#prefix_success_container").offset().top - 50}, 700);
                $("#prefix_success_bg").animate({ backgroundColor: "#ffffff" }, 1).delay(200).animate({ backgroundColor: "#3d9400" }, 700).delay(200).animate({ backgroundColor: "#ccffcc" }, 1000);
            }

        }


        /*
         * Is run to determine if the node FQDN field should be enabled or not.
         */
        function enableNodeFQDNEdit() {

            // Disable for reservations
            if ('{{ c.prefix.type }}' == 'reservation') {
                $('input[name="prefix_node"]').attr('disabled', true);

            // disable for assignments not not of max prefix length
            } else if ('{{ c.prefix.type }}' == 'assignment') {

                if (hasMaxPreflen({ 'prefix': $('input[name="prefix_prefix"]').val(), 'family': {{ c.prefix.family }} })) {
                    $('input[name="prefix_node"]').removeAttr('disabled');
                } else {
                    $('input[name="prefix_node"]').attr('disabled', true);
                }

            } else {
                $('input[name="prefix_node"]').removeAttr('disabled');
            }

        }


        $(function() {

            // Capture submit form event
            $('form[name="prefix_form"]').submit(function(e) {
                var data = {
                    'schema': {{ c.schema.id }},
                    'prefix': $('input[name="prefix_prefix"]').val(),
                    'description': $('input[name="prefix_description"]').val(),
                    'node': $('input[name="prefix_node"]').val(),
                    'country': $('input[name="prefix_country"]').val(),
                    'order_id': $('input[name="prefix_order_id"]').val(),
                    'vrf': $('input[name="prefix_vrf"]').val(),
                    'comment': $('input[name="prefix_comment"]').val(),
                    'alarm_priority': $('input[name="prefix_alarm_priority"]:checked').val()
                };

                if ($('input[name="prefix_monitor"]').is(':checked')) {
                    data.monitor = 'true';
                } else {
                    data.monitor = 'false';
                }

                if ('{{ c.prefix.type }}' != 'host') {
                    data.type = $('input[name="prefix_type"]:checked').val();
                }

                $.getJSON('{{ h.url(controller="xhr", action="edit_prefix", id=c.prefix.id) }}', data, prefixEdited);

                // prevent default action ("ordinary" HTTP POST)
                e.preventDefault();

            });

            // disable node FQDN input if needed
            enableNodeFQDNEdit();
            $('input[name="prefix_prefix"]').keyup(enableNodeFQDNEdit);

            $('input[name="prefix_monitor"]').change(prefixMonitorToggled);
            prefixMonitorToggled();

        });

    </script>
{% endblock %}

{% block content %}

<div class="page-title">
Prefix administration &mdash;&gt; edit prefix
</div>

<!--

    PREFIX DATA

-->
<div id="prefix_data_container">
<form method="post" name="prefix_form" action="{{ h.url(controller="prefix", action="edit", id=c.prefix.id, schema=c.schema.id) }}">
    <div class="options-group">
        <div class="options-content">
            <h3 class="options-group-heading">Properties of {{ c.prefix.type }} {{ c.prefix.prefix }}</h3>
            <div class="option">
                <dl>
                    <dt>Prefix</dt>
                    <dd><input type="text" name="prefix_prefix" value="{{ c.prefix.prefix }}" class="tooltip" title="The prefix, i.e. 192.0.2.16/28"></dd>
                </dl>
            </div>

            <div class="rule"></div>

            <div class="option">
                <dl>
                    <dt>Type</dt>
                    <dd>
                        <input type="radio" id="prefix-type-res" name="prefix_type" value="reservation" class="tooltip" title="" {% if c.prefix.type == 'reservation' %}checked{% elif c.prefix.type == 'host' %}disabled{% endif %}><label for="prefix-type-res">Reservation</label>
                        <input type="radio" id="prefix-type-ass" name="prefix_type" value="assignment" class="tooltip" title="" {% if c.prefix.type == 'assignment' %}checked{% elif c.prefix.type == 'host' %}disabled{% endif %}><label for="prefix-type-ass">Assignment</label>
                    </dd>
                </dl>
            </div>

            <div class="rule"></div>

            <div class="option">
                <dl>
                    <dt>
                        Description
                    </dt>
                    <dd>
                        <input type="text" name="prefix_description" value="{{ c.prefix.description or '' }}">
                    </dd>
                </dl>
            </div>

            <div class="rule"></div>

            <div class="option">
                <dl>
                    <dt>
                        Node&nbsp;FQDN
                    </dt>
                    <dd>
                        <input type="text" name="prefix_node" value="{{ c.prefix.node or '' }}" class="tooltip" title="FQDN (Fully Qualified Domain Name) of the node where the prefix is in use, e.g. 'amsterdam-router-1.example.com'"{% if c.prefix.type == 'reservation' %} disabled{% endif %}>
                    </dd>
                </dl>
            </div>

            <div class="rule"></div>

            <div class="option">
                <dl>
                    <dt>
                        Country
                    </dt>
                    <dd>
                        <input type="text" name="prefix_country" value="{{ c.prefix.country or '' }}" class="tooltip" title="Two-letter country code according to <a href='http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements ISO-3166-1'">
                    </dd>
                </dl>
            </div>

            <div class="rule"></div>

            <div class="option">
                <dl>
                    <dt>
                        Order ID
                    </dt>
                    <dd>
                        <input type="text" name="prefix_order_id" value="{{ c.prefix.order_id or '' }}">
                    </dd>
                </dl>
            </div>

            <div class="rule"></div>

            <div class="option">
                <dl>
                    <dt>
                        VRF
                    </dt>
                    <dd>
                        <input type="text" name="prefix_vrf" value="{{ c.prefix.vrf or '' }}">
                    </dd>
                </dl>
            </div>

            <div class="rule"></div>

            <div class="option">
                <dl>
                    <dt>
                        Monitor
                    </dt>
                    <dd style="height: 20px; line-height: 20px;">
                        <input type="checkbox" name="prefix_monitor" value="true"{% if c.prefix.monitor == True %} checked{% endif %}{% if c.prefix.type == 'host' %} disabled{% endif %}>
                        <span id="alarm_priority_container">
                            Priority:
                            <input type="radio" id="radio-prefix-alarm-prio-low" name="prefix_alarm_priority" value="low"{% if c.prefix.alarm_priority == 'low' %} checked{% endif %}{% if c.prefix.type == 'host' %} disabled{% endif %}>
                            <label for="radio-prefix-alarm-prio-low">low</label>
                            <input type="radio" id="radio-prefix-alarm-prio-medium" name="prefix_alarm_priority" value="medium"{% if c.prefix.alarm_priority == 'medium' %} checked{% endif %}{% if c.prefix.type == 'host' %} disabled{% endif %}>
                            <label for="radio-prefix-alarm-prio-medium">medium</label>
                            <input type="radio" id="radio-prefix-alarm-prio-high" name="prefix_alarm_priority" value="high"{% if c.prefix.alarm_priority == 'high' %} checked{% endif %}{% if c.prefix.type == 'host' %} disabled{% endif %}>
                            <label for="radio-prefix-alarm-prio-high">high</label>
                        </span>
                    </dd>
                </dl>
            </div>

            <div class="rule"></div>

            <div class="option">
                <dl>
                    <dt>
                        Comment
                    </dt>
                    <dd>
                        <input type="text" name="prefix_comment" value="{{ c.prefix.comment or '' }}">
                    </dd>
                </dl>
            </div>

            <div class="rule"></div>

            <div class="option">
                <dl>
                    <dt>
                    </dt>
                    <dd>
                        <input type="hidden" name="id" value="{{ c.prefix.id }}">
                        <input class="button button_green" type="submit" value="Save">
                    </dd>
                </dl>
            </div>
        </div>
    <div>
</form>

</div>

<div id="prefix_success_container" style="display: none;">
    <div class="options-group">
        <div class="options-content">
            <h3 class="options-group-heading">Result</h3>
            <div id="prefix_success_bg" style="padding: 15px; background-color: #ccffcc;">
                The prefix <span id="prefix_success_name"></span> was successfully edited.
            </div>
        </div>
    </div>
</div>

{% endblock %}
