{% extends "base.html" %}

{% block content %}

<div style="text-align: center; padding: 20px;">
	<div style="display: inline-block; text-align: justify; width: 80%; max-width: 600px;">
		<h3>Please confirm</h3>
		<p>
		Are you sure you want to remove the prefix {{ c.prefix.display_prefix }}?
		</p>
		<p>
		{{ nipap.button(text='Yes', color='green', url=h.url(controller='prefix', action='remove', id=c.prefix.id, confirmed='true')) }}
		{{ nipap.button(text='No', color='red', url=h.url(controller='prefix', action='list')) }}
		</p>
	</div>
</div>

{% endblock %}
