{% import 'macros.html' as nipap %}

{#

This file is included by pool_edit.html and prefix_add.html. To suit each
of these pages, the content is modified slightly at runtime when the page
loads, so beware, this might cause some 'WTF!?'.

#}

<!-- 

PREFIX ALLOCATION METHOD

-->
<div class="options-group" style="display: none;" id="prefix-alloc-method_container">
	<div class="options-content">
		<h3 class="options-group-heading">Prefix allocation method</h3>

		<div class="option">
			<dl>
				<dt style="text-align: left;">
				<input id="radio-from-pool" type="radio" name="prefix_alloc_method" value="from-pool">
				<label for="radio-from-pool">From pool</label>
				</dt>
				<dd>
				Get a prefix from a pre-defined prefix pool.
				</dd>
			</dl>
		</div>

		<div class="rule"></div>

		<div class="option">
			<dl>
				<dt style="text-align: left;">
				<input id="radio-from-prefix" type="radio" name="prefix_alloc_method" value="from-prefix">
				<label for="radio-from-prefix">From prefix</label>
				</dt>
				<dd>
				Get a prefix allocated from another prefix.
				</dd>
			</dl>
		</div>

		<div class="rule"></div>

		<div class="option">
			<dl>
				<dt style="text-align: left;">
				<input id="radio-manual" type="radio" name="prefix_alloc_method" value="manual">
				<label for="radio-manual">Manual</label>
				</dt>
				<dd>
				Specify all data manually
				</dd>
			</dl>
		</div>

	</div>
</div>

<!--

FROM-POOL

-->
<div style="display: none;" id="from-pool_container">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Pool allocation options</h3>


			<div class="option">
				<dl>
					<dt style="text-align: left;">
					Family
					</dt>
					<dd>
					<input type="radio" name="prefix_family" value="4" id="family_4_radio" checked>
					<label for="family_4_radio">IPv4</label>
					<input type="radio" name="prefix_family" value="6" id="family_6_radio">
					<label for="family_6_radio">IPv6</label>
					</dd>
				</dl>
			</div>

			<div class="rule"></div>

			<div style="padding: 20px;">
				<table id="pool_table" class="listing" style="width: 100%;">
					<thead class="listing">
						<tr><th>Name</th><th>Description</th><th style="width: 110px;">Default type</th><th style="width: 90px;">4 / 6</th></tr>
					</thead>
					<tbody class="listing">
					</tbody>
				</table>
			</div>

			<div class="rule"></div>

			<div class="option" id="length_info_row" style="display: none;">
				<dl>
					<dt style="text-align: left;">
					Allocating from pool
					</dt>
					<dd id="selected_pool_desc">
					</dd>
					<dt style="text-align: left;" id="length_edit_row">
					Prefix-length
					</dt>
					<dd id="length_edit_row">
					<input type="radio" name="edit_length" value="0" id="edit_length_default_radio" checked>
					<label id="def_length_container" for="edit_length_default_radio">Use pools default prefix-length</label>
					<br/>
					<input type="radio" name="edit_length" value="1" id="edit_length_override_radio">
					<label for="edit_length_override_radio">Override pools default prefix-length</label>
					<br/>
					<div style="display: none;" id="length_row">
						Use prefix-length: <input type="text" size=3 name="prefix_length_pool">
					</div>
					</dd>
				</dl>
			</div>

		</div>
	</div>
</div>

<!--

FROM-PREFIX

-->
<div style="display: none;" id="from-prefix_container">
	<div class="options-group">
		<div class="options-content">
			<h3 class="options-group-heading">Prefix allocation options</h3>
			<div class="options-guide">
				You have chosen to allocate your new prefix from inside another, already existing, prefix. Please use the search tool to find and select the prefix which you would like to allocate your new prefix from.
			</div>
			{{ nipap.prefix_search_form(c.search_opt_parent, c.search_opt_child) }}
			{{ nipap.prefix_search_result() }}
		</div>
		<div class="rule"></div>
		<div class="option" id="prefix_length_prefix_container" style="display: none;">
			<dl>
				<dt>
				Allocating from parent prefix
				</dt>
				<dd id="alloc_from_prefix">
				</dd>
				<dt id="length_info_row">
				Prefix-length of new prefix
				</dt>
				<dd id="length_info_text">
				<input type="text" name="prefix_length_prefix">
				</dd>
			</dl>
		</div>
	</div>
</div>

{% include 'prefix_form.html' %}
