{% extends "base.html" %}
{% set page = 'prefixes' %}

{% block head %}

<script>

    prefix_link_type = 'edit';

    /*
     * Handles the query passed in the URL, if any.
     */
    function handleUrlQuery() {

        // Is there a query string in the URL?
        if ($.url().fparam('query_string') == null) {
            return true;
        }

        // query_string
        $("#query_string").val(decodeURIComponent($.url().fparam('query_string')));

        // search_opt_parent
        if ($.url().fparam('search_opt_parent') != null) {
            $('input[name="search_opt_parent"][value="' + decodeURIComponent($.url().fparam('search_opt_parent')) + '"]').attr('checked', true);
        }

        // search_opt_child
        if ($.url().fparam('search_opt_child') != null) {
            $('input[name="search_opt_child"][value="' + decodeURIComponent($.url().fparam('search_opt_child')) + '"]').attr('checked', true);
        }

        // explicit
        if ($.url().fparam('explicit') == 'true') {
            var explicit = true;
        } else {
            var explicit = false;
        }

        performPrefixSearch(explicit);

    }

    /*
     * Things to do on page load.
     */
    $(function () {

        // register events
        $("form").submit(function(e) {
            performPrefixSearch(true);
            e.preventDefault();
        });
        $("#query_string").keyup(prefixSearchKey);
        $('input[name="search_opt_parent"]').change(performPrefixSearch);
        $('input[name="search_opt_child"]').change(performPrefixSearch);

        // capture click event on overlay placed behind prefix menu
        $(".popup_menu_overlay").click(function(e) {
            hidePopupMenu();
        });

        // set focus
        $("#query_string").focus();

        handleUrlQuery();

		// automagic scrolling
		$(window).scroll(function(){
			if ($(window).scrollTop() >= $(document).height() - ($(window).height() * 3)){
				performPrefixNextPage();
			}
		});

    });

</script>

{% endblock %}

{% block menu %}
<div id="search_box">
	{{ nipap.prefix_search_form(c.search_opt_parent, c.search_opt_child) }}
	<div style="position: absolute; right: 20px; top: 55px;">
		{{ nipap.button('Add prefix', color='red', url=h.url(controller = 'prefix', action = 'add', schema = c.schema.id)) }}
	</div>
</div>

{% endblock %}



{% block raw_content %}

{{ nipap.prefix_search_result() }}

{% endblock %}
