{% extends "base.html" %}

{% block head %}
    <script>

        $(function () {
			$(".minibutton").each(function() {
				$(this).click(function(e) {
					var tr = $(this).parent().parent();
					var schema_id = tr.attr('data-schema-id');
					var schema_name = tr.children('td:first').text();
					var menu = getPopupMenu($(this), 'Schema', schema_id);

					var cur_schema = '';
					{% if c.schema is defined %}
					cur_schema = '?schema={{c.schema.id}}';
					menu.append('<a href="/schema/edit/' + schema_id + cur_schema + '">Edit</a>');
					if (schema_id == {{c.schema.id}}) {
						menu.append('<a id="schema_remove' + schema_id + '" href="/schema/remove/' + schema_id + '">Remove</a>');
					} else {
						menu.append('<a id="schema_remove' + schema_id + '" href="/schema/remove/' + schema_id + cur_schema + '">Remove</a>');
					}
					{% else %}
					menu.append('<a href="/schema/edit/' + schema_id + cur_schema + '">Edit</a>');
					menu.append('<a id="schema_remove' + schema_id + '" href="/schema/remove/' + schema_id + cur_schema + '">Remove</a>');
					{% endif %}

					$('#schema_remove' + schema_id).click(function(e) {
						e.preventDefault();
						var dialog = showDialogYesNo('Really remove schema?', 'Are you sure you want to remove the schema "' + schema_name + '"?',
						function () {
							var data = {
								'id': schema_id
							};
							$.getJSON('/xhr/remove_schema', data, schemaRemoved);

							hidePopupMenu();
							dialog.dialog('close');

						});
					});

					menu.slideDown('fast');
					e.preventDefault();
					e.stopPropagation();
				});
			});
        });

		/*
		 * Callback function after a schema has been removed
		 */
		function schemaRemoved(schema) {
			if ('error' in schema) {
				showDialogNotice('Error', schema.message);
				return;
			}
			$('#schema_row' + schema.id).remove();
		}

    </script>
{% endblock %}

{% block content %}

	<div style="position: absolute; right: 20px; top: 14px;">
		{{ nipap.button('Add schema', color='red', url=h.url(controller = 'schema', action = 'add')) }}
	</div>

	<div style="text-align: center; padding: 20px;">
		<div style="display: inline-block; text-align: justify; width: 80%; max-width: 600px;">
			Schemas provide the means to separate prefixes and pools in a manner analogous to how a directory allows files to be separated and the same filename be reused within each directory.
			<br/> <br/>
			A prefix must be unique within the schema it is stored. Multiple schemas can thus be used to document the address space of customer VRFs and similar which often contain overlapping addresses.
			<br/> <br/>
		</div>
	</div>


<table style="border-spacing: 0px; width: 100%;">
	<thead class="listing">
		<tr>
			<th style="padding-left: 30px;">Name</th><th>Description</th><th>VRF</th><th></th>
		</tr>
	</thead>
	<tbody class="listing">
		{% for schema in c.schemas %}
		<tr id="schema_row{{ schema.id }}" data-schema-id="{{schema.id}}">
			<td style="padding-left: 30px;"><a href="{{ h.url(controller='prefix', action='index', schema=schema.id) }}">{{ schema.name }}</a></td>
			<td>{{ schema.description }}</td>
			<td>{{ schema.vrf or '' }}</td>
			<td>
				<div id="schema_button{{schema.id}}" class="minibutton">
					<div class="popup_button_icon">&nbsp;</div>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
