{% extends "base.html" %}

{% block head %}
    <script>

        $(function () {
            /*
             * blagh, this was a bit more bulky then I wanted just right now...
             * TODO: change from onclick to unobtrusive JavaScript.
            // add confirmation dialog to delete-action
            var schema_delete_links = $('a[id^=delete_schema_]');
            for (key in schema_delete_links) {

                // find ID of schema
                var id = schema_delete_links[key].id.split('_')[2];

                // add event handler
                schema_delete_links[key].click(displayVerify, { 'url': {{ h.url(controller='schema', action='remove', id="' + schema.id + '") }} });

            }
            */

        });
    </script>
{% endblock %}

{% block content %}

	<div style="position: absolute; right: 20px; top: 14px;">
		{{ nipap.button('Add schema', color='red', url=h.url(controller = 'schema', action = 'add')) }}
	</div>

	<div style="text-align: center; padding: 20px;">
		<div style="display: inline-block; text-align: justify; width: 80%; max-width: 600px;">
			Schemas provide the means to separate prefixes and pools in a manner analogous to how a directory allows files to be separated and the same filename be reused within each directory.
			<br/> <br/>
			A prefix must be unique within the schema it is stored. Multiple schemas can thus be used to document the address space of customer VRFs and similar which often contain overlapping addresses.
			<br/> <br/>
		</div>
	</div>


<table style="border-spacing: 0px; width: 100%;">
	<thead class="listing">
		<tr>
			<th style="padding-left: 30px;">Name</th><th>Description</th><th>VRF</th><th></th>
		</tr>
	</thead>
	<tbody class="listing">
		{% for schema in c.schemas %}
		<trid="schema_row{{ schema.id }}">
			<td style="padding-left: 30px;"><a href="{{ h.url(controller='prefix', action='index', schema=schema.id) }}">{{ schema.name }}</a></td>
			<td>{{ schema.description }}</td>
			<td>{{ schema.vrf or '' }}</td>
			<td>
                {% if c.schema is defined %}
				<a href="{{ h.url(controller="schema", action="edit", id=schema.id, schema=c.schema.id) }}">edit</a> |
                {% else %}
				<a href="{{ h.url(controller="schema", action="edit", id=schema.id) }}">edit</a> | 
                {% endif %}
				<a href="{{ h.url(controller="schema", action="remove", id=schema.id) }}" id="delete_schema_{{ schema.id }}" onclick="showDialogYesNo('Remove {{schema.name}}?', 'By removing {{ schema.name }}, ALL prefixes in the schema will be removed too! You cannot undo this action. Are you sure?', function () { window.location.href = '{{ h.url(controller="schema", action="remove", id=schema.id) }}'; }); return false;">del</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
