{% if c.action == 'edit' %}
<form method="post" name="vrf_form" action="{{ h.url(controller="vrf", action="edit", id=c.edit_vrf.id) }}">
	{% else %}
	<form method="post" name="vrf_form" action="{{ h.url(controller="vrf", action="add") }}">
		{% endif %}
		<input type="hidden" name="action" value="{{ c.action }}">

		<div class="options-group">
			<div class="options-content">
				<h3 class="options-group-heading">Properties of {% if c.action == 'edit' %}VRF: {{ c.edit_vrf.name }} {% else %}new VRF{% endif %}</h3>

				<div class="option">
					<dl>
						<dt>
						RT
						</dt>
						<dd>
						<input type="text" name="rt" value="{%- if c.action == 'edit' -%}{{ c.edit_vrf.rt or '' }}{%- endif -%}" tooltip="VRF RT (e.g. 123:4567 or 192.0.2.12:345).">
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Name <span class="required" tooltip="This field is required, please fill in! :-)">*</span>
						</dt>
						<dd>
						<input type="text" name="name" value="{%- if c.action == 'edit' %}{{ c.edit_vrf.name or '' }}{%- endif %}" tooltip="Name of the VRF. Try to use less than 20 characters and no spaces.">
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Description
						</dt>
						<dd>
						<input type="text" style="width: 80%;" name="description" value="{%- if c.action == 'edit' -%}{{ c.edit_vrf.description or '' }}{%- endif -%}" tooltip="Enter a short description of what this VRF is used for.">
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt>
						Tags
						</dt>
						<dd>
						<ul id="tags" style="font-size: 1.0em;">
							{%- if c.action == 'edit' -%}
							{% for tag in c.edit_vrf.tags|sort() %}<li>{{ tag }}</li>{% endfor %}
							{% endif %}
						</ul>
						</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<div class="option">
					<dl>
						<dt></dt>
						<dd>
						{% if c.vrf is defined %}
						<input type="hidden" name="vrf" value="{{ c.vrf.id }}">
						{% endif %}
						<input class="button button_green" type="submit" value="{% if c.action == 'edit' %}Save VRF{% else %}Add VRF{% endif %}">
						</dd>
					</dl>
				</div>
			</div>
		</div>
