{% extends "base.html" %}
{% set page = 'vrfs' %}

{% block head %}
    <script>

        $(function () {
			$(".minibutton").each(function() {
				$(this).click(function(e) {
					var tr = $(this).parent().parent();
					var vrf_id = tr.attr('data-vrf-id');
					var vrf_vrf = tr.children('td:first').text();
					var menu = getPopupMenu($(this), 'VRF', vrf_id);

					menu.append('<a href="/vrf/edit/' + vrf_id + '">Edit</a>');
					menu.append('<a id="vrf_remove' + vrf_id + '" href="/vrf/remove/' + vrf_id + '">Remove</a>');

					$('#vrf_remove' + vrf_id).click(function(e) {
						e.preventDefault();
						var dialog = showDialogYesNo('Really remove VRF?', 'Are you sure you want to remove the VRF "' + vrf_vrf + '"?',
						function () {
							var data = {
								'id': vrf_id
							};
							$.getJSON('/xhr/remove_vrf', data, vrfRemoved);

							hidePopupMenu();
							dialog.dialog('close');

						});
					});

					menu.slideDown('fast');
					e.preventDefault();
					e.stopPropagation();
				});
			});
        });

		/*
		 * Callback function after a vrf has been removed
		 */
		function vrfRemoved(vrf) {
			if ('error' in vrf) {
				showDialogNotice('Error', vrf.message);
				return;
			}
			$('#vrf_row' + vrf.id).remove();
		}

    </script>
{% endblock %}

{% block content %}

	<div style="position: absolute; right: 20px; top: 14px;">
		{{ nipap.button('Add VRF', color='red', url=h.url(controller = 'vrf', action = 'add')) }}
	</div>

	<div style="text-align: center; padding: 20px;">
		<div style="display: inline-block; text-align: justify; width: 80%; max-width: 600px;">
            A prefix must be unique within the VRF where it is stored. Multiple
            VRFs can thus be used to document the address space which contain
            overlapping addresses.
			<br/> <br/>
		</div>
	</div>


<table style="border-spacing: 0px; width: 100%;">
	<thead class="listing">
		<tr>
			<th style="padding-left: 30px;">VRF</th><th>Name</th><th>Description</th><th></th>
		</tr>
	</thead>
	<tbody class="listing">
		{% for vrf in c.vrfs %}
		<tr id="vrf_row{{ vrf.id }}" data-vrf-id="{{vrf.id}}">
			<td style="padding-left: 30px;">{{ vrf.vrf }}</a></td>
			<td>{{ vrf.name or '' }}</td>
			<td>{{ vrf.description }}</td>
			<td>
				<div id="vrf_button{{vrf.id}}" class="minibutton">
					<div class="popup_button_icon">&nbsp;</div>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
