Flask==0.10.1
Flask-Compress==1.2.1
Flask-XML-RPC==0.1.2
IPy==0.83
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
backports.ssl-match-hostname==3.4.0.2
certifi==2015.04.28
itsdangerous==0.24
parsedatetime==1.5
psutil==1.2.1							# rq.filter: >= 1.0,<2.0
psycopg2==2.6.1
python-dateutil==2.4.2
# optional dependency on ldap
#python-ldap==2.4.19
pytz==2015.4
tornado==4.2
wsgiref==0.1.2
