Source: nipap-whoisd
Maintainer: Kristian Larsson <kristian@spritelink.net>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 4.6.1

Package: nipap-whoisd
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Neat IP Address Planner
 The NIPAP whois daemon provides a whois-style interface for querying data in
 the NIPAP backend. It receives whois queries, translates these into search
 queries towards the nipapd backend and sends the result, with a whois style
 format, back to the client.
