Source: nipap-whoisd
Maintainer: Kristian Larsson <kristian@spritelink.net>
Section: python
Priority: optional
Build-Depends: python (>= 3.6), debhelper (>= 7)
Standards-Version: 3.9.1

Package: nipap-whoisd
Architecture: all
Depends: ${misc:Depends}, python (>= 3.6), python-pynipap
Description: Neat IP Address Planner
 The NIPAP whois daemon provides a whois-style interface for querying data in
 the NIPAP backend. It receives whois queries, translates these into search
 queries towards the nipapd backend and sends the result, with a whois style
 format, back to the client.
